In [1]:
import pandas as pd

In [2]:
# no need to clean inflow memo bc memo = category
outflow = pd.read_parquet('/uss/hdsi-prismdata/q1-ucsd-outflows.pqt')

In [3]:
print(outflow.shape)
outflow.sample(5)

(2597488, 6)

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
1708194,4291,acc_7874,AFTERPAY SAN FRANCISCO CA USA,60.68,2021-05-27,GENERAL_MERCHANDISE
253518,558,acc_1652,PURCHASE AUTHORIZED ON 02/08 THE RUCK NY SXXXX...,55.98,2021-02-10,FOOD_AND_BEVERAGES
535021,1162,acc_3280,RECURRING APPLE.COM/BILL,5.99,2022-02-17,GENERAL_MERCHANDISE
152886,359,acc_1066,ESSENTIAL_SERVICES,381.86,2021-07-06,ESSENTIAL_SERVICES
2027196,4865,acc_8448,PURCHASE AUTHORIZED ON 09/17 LIDS XXXX BOCA RA...,48.14,2022-09-19,GENERAL_MERCHANDISE

In [4]:
import re
from typing import List, Tuple, Iterable, Optional
from collections import Counter

def tokenize(text: str, lowercase: bool = True) -> List[str]:
    if lowercase:
        text = text.lower()
    # Keep words, numbers, and apostrophes; split by comma later
    return re.findall(r"[a-z0-9']+", text)

def generate_ngrams(tokens: List[str], n: int) -> Iterable[Tuple[str, ...]]:
    """Generate n-grams of size n from tokens."""
    if n <= 0:
        raise ValueError("n must be >= 1")
    if len(tokens) < n:
        return []
    return zip(*[tokens[i:] for i in range(n)])

def most_common_ngrams(
    text: str,
    n: int = 1,
    top_k: int = 10,
    stopwords: Optional[Iterable[str]] = None,
    min_token_len: int = 1,
) -> List[Tuple[str, int]]:
    # Split the text into comma-separated segments
    segments = [seg.strip() for seg in text.split(",") if seg.strip()]

    all_tokens = []
    for seg in segments:
        tokens = tokenize(seg)
        if stopwords:
            sw = set(stopwords)
            tokens = [t for t in tokens if t not in sw]
        if min_token_len > 1:
            tokens = [t for t in tokens if len(t) >= min_token_len]
        all_tokens.append(tokens)

    # Build all n-grams up to length n within each segment
    grams = []
    for tokens in all_tokens:
        for i in range(1, n + 1):
            grams.extend(" ".join(g) for g in generate_ngrams(tokens, i))

    counts = Counter(grams)
    return counts.most_common(top_k)

## round 1

In [5]:
memos = outflow[outflow['memo']!=outflow['category']]['memo'].unique()
memos = ', '.join(memos)

In [6]:
memos[:1000]

"TST* Casa Del Rio - Exp Fairlawn OH 09/24, Buffalo Wild Wings, Oculus CA 04/16, LOS GIRASOLES STOW OH 03/08, BUZZIS LAUNDRY 1 OH 03/28, BUZZIS LAUNDRY 1 OH 02/13, TGI FRIDAYS XXXX STOW OH 12/31, TST* The Basement Sp Cuyahoga Fall OH 06/06, Lowe's, PIADA - 39 OH 08/23, GrubHub, HARDEES XXXXXXX AKRON OH 05/29, MARKET DI XXXX State Cuyahoga Fall OH 04/06, SWENSONS - MONTROSE AKRON OH 06/29, Great Clips, APPLE.COM/BILL CA 04/07, APPLE.COM/BILL CA 04/29, APPLE.COM/BILL CA 01/28, LOS GIRASOLES STOW OH 05/24, WING WAREHOUSE CUYAH CUYAHOGA FALL OH 03/29, WINKING LIZARD - 30 MA OH 05/23, LONGHORN STEAK XXXXX CUYAHOGA FALL OH 10/09, ON TAP - CUYAHOGA FA CUYAHOGA FALL OH 12/06, TST* The Basement Sp Cuyahoga Fall OH 08/26, Oculus CA 03/12, Home Depot, FALLS DISCOUNT TOBACC CUYAHOGA FLS OH 05/20, Burger King, O'Charley's, HOMEDEPOT.COM GA 10/08, Dairy Queen, EAST OF CHICAGO - CU CUYAHOGA FALL OH 03/08, GIANT-EAG XXXX Corpora Uniontown OH 09/28, WING WAREHOUSE CUYAH CUYAHOGA FALL OH 10/12, FIN'S BAR"

In [7]:
outflow['memo'].str.split().str.len().max()

41

In [8]:
n_grams = most_common_ngrams(memos, n=41, top_k=50)
n_grams

[('xxxx', 405935),
 ('card', 231945),
 ('purchase', 220149),
 ('card xxxx', 173894),
 ('on', 159821),
 ('authorized', 154350),
 ('authorized on', 154307),
 ('purchase authorized', 140141),
 ('purchase authorized on', 140141),
 ('sxxxxxxxxxxxxxxx', 118231),
 ('sxxxxxxxxxxxxxxx card', 118231),
 ('sxxxxxxxxxxxxxxx card xxxx', 118231),
 ('ca', 103001),
 ('com', 92857),
 ('xxx', 70724),
 ('debit', 67661),
 ('amzn', 59044),
 ('xxxxxx', 46670),
 ('10', 46644),
 ('pos', 46347),
 ('12', 45201),
 ('09', 44181),
 ('xxxxxxxxxxxxxxxxxxxxxxx', 44176),
 ('08', 43977),
 ('wa', 43142),
 ('07', 43060),
 ('11', 42208),
 ('05', 41251),
 ('03', 40748),
 ('06', 40271),
 ('04', 40219),
 ('01', 39908),
 ('amzn com', 37465),
 ('ca sxxxxxxxxxxxxxxx', 37239),
 ('ca sxxxxxxxxxxxxxxx card', 37239),
 ('ca sxxxxxxxxxxxxxxx card xxxx', 37239),
 ('02', 36771),
 ('fl', 36570),
 ('bill', 34079),
 ('xxxxx', 33923),
 ('amazon', 33190),
 ('22', 33110),
 ('com bill', 33095),
 ('checkcard', 31265),
 ('checkcard xxxx', 31234),
 ('debit card', 30134),
 ('xxx xxx', 28777),
 ('xxx xxxx', 28777),
 ('xxx xxx xxxx', 28777),
 ('tx', 27586)]

In [9]:
sorted_by_len = sorted(n_grams, key=lambda x: len(x[0]), reverse = True)
for item in sorted_by_len:
    print(item)

('ca sxxxxxxxxxxxxxxx card xxxx', 37239)
('sxxxxxxxxxxxxxxx card xxxx', 118231)
('ca sxxxxxxxxxxxxxxx card', 37239)
('xxxxxxxxxxxxxxxxxxxxxxx', 44176)
('purchase authorized on', 140141)
('sxxxxxxxxxxxxxxx card', 118231)
('purchase authorized', 140141)
('ca sxxxxxxxxxxxxxxx', 37239)
('sxxxxxxxxxxxxxxx', 118231)
('checkcard xxxx', 31234)
('authorized on', 154307)
('xxx xxx xxxx', 28777)
('authorized', 154350)
('debit card', 30134)
('card xxxx', 173894)
('checkcard', 31265)
('purchase', 220149)
('amzn com', 37465)
('com bill', 33095)
('xxx xxxx', 28777)
('xxx xxx', 28777)
('xxxxxx', 46670)
('amazon', 33190)
('debit', 67661)
('xxxxx', 33923)
('xxxx', 405935)
('card', 231945)
('amzn', 59044)
('bill', 34079)
('com', 92857)
('xxx', 70724)
('pos', 46347)
('on', 159821)
('ca', 103001)
('10', 46644)
('12', 45201)
('09', 44181)
('08', 43977)
('wa', 43142)
('07', 43060)
('11', 42208)
('05', 41251)
('03', 40748)
('06', 40271)
('04', 40219)
('01', 39908)
('02', 36771)
('fl', 36570)
('22', 33110)
('tx', 27586)

In [10]:
m = outflow[outflow['memo']!=outflow['category']]['memo'].str.lower()
clean = m.copy(deep = True)
# 236785
# patterns = [r'[a-z]{2}\son\s+xxxxxx\sfrom\s+card#:?\sxxxxxxxxxxxxxxxx',
#             r'debit\scard\spurchase\sat\s', 
#             r'\sxxx-xxx-xxxx\s[a-z]{2}\ssxxxxxxxxxxxxxxx\scard\sxxxx',
#             r'purchase\sauthorized\son\s\d\d\/\d\d',
#             r'point\sof\ssale\spurchase\sus\sut\ssalt\slake\scit',
#             r'business\sto\sbusiness\sach',
#             r'\sxxxx\sxxxxxxxxxxxxxxxxxxxxxxx\sxxxxxx',
#             r'xxx\-xxx\-xxxx',
#             r',auth#\sxxxxxx\sdebit\scard\sdebit',
#             r'\ssxxxxxxxxxxxxxxx\scard\sxxxx',
#             r'xxxxxxxx\sxxxxxx',
#             r'id\:x+']
patterns = [r'sxxxxxxxxxxxxxxx\scard\sxxxx',
            r'sxxxxxxxxxxxxxxx\scard',
            r'[sp]?x{3,}',
            r'(?:purchase\s)?authorized(?:\son)?',
            r'debit card',
            r'\d{2}\/\d{2}\/\d{4}|\d{4}\/\d{2}\/\d{2}|\d{2}\/\d{2}',
            r'/[,\s]al[,\s]|[,\s]ak[,\s]|[,\s]az[,\s]|[,\s]ar[,\s]|[,\s]ca[,\s]|[,\s]co[,\s]|[,\s]ct[,\s]|[,\s]de[,\s]|[,\s]fl[,\s]|[,\s]ga[,\s]|[,\s]hi[,\s]|[,\s]id[,\s]|[,\s]il[,\s]|[,\s]in[,\s]|[,\s]ia[,\s]|[,\s]ks[,\s]|[,\s]ky[,\s]|[,\s]la[,\s]|[,\s]me[,\s]|[,\s]md[,\s]|[,\s]ma[,\s]|[,\s]mi[,\s]|[,\s]mn[,\s]|[,\s]ms[,\s]|[,\s]mo[,\s]|[,\s]mt[,\s]|[,\s]ne[,\s]|[,\s]nv[,\s]|[,\s]nh[,\s]|[,\s]nj[,\s]|[,\s]nm[,\s]|[,\s]ny[,\s]|[,\s]nc[,\s]|[,\s]nd[,\s]|[,\s]oh[,\s]|[,\s]ok[,\s]|[,\s]or[,\s]|[,\s]pa[,\s]|[,\s]ri[,\s]|[,\s]sc[,\s]|[,\s]sd[,\s]|[,\s]tn[,\s]|[,\s]tx[,\s]|[,\s]ut[,\s]|[,\s]vt[,\s]|[,\s]va[,\s]|[,\s]wa[,\s]|[,\s]wv[,\s]|[,\s]wi[,\s]|[,\s]wy[,\s]|[,\s]dc[,\s]',
            ]

for p in patterns:
    clean = clean.str.replace(p, ' ', regex=True)

changed_mask = m != clean
changed_items = m[changed_mask]
changed_count = changed_mask.sum()

print("Changed count:", changed_count)

Changed count: 734733

In [11]:
changed = pd.DataFrame({'original': m[changed_mask], 'cleaned': clean[changed_mask]})

In [12]:
changed

,original,cleaned
2,tst* casa del rio - exp fairlawn oh 09/24,tst* casa del rio - exp fairlawn
6,oculus ca 04/16,oculus
7,los girasoles stow oh 03/08,los girasoles stow
8,buzzis laundry 1 oh 03/28,buzzis laundry 1
9,buzzis laundry 1 oh 02/13,buzzis laundry 1
...,...,...
2597457,debit card withdrawal purchaseamazon prime*ti4...,withdrawal purchaseamazon prime*ti40l27r3 am...
2597462,pos withdrawalaz lot quiktrip xxxx xxxx e indi...,pos withdrawalaz lot quiktrip e indian sch...
2597465,pos withdrawalwal-mart #xxxx xxxx e mckellips ...,pos withdrawalwal-mart # e mckellips rd mes...
2597468,withdrawal salt river projetype: online pmt co...,withdrawal salt river projetype: online pmt co...
2597476,pos withdrawalfrys-food-drg #1 435 s. e mesa a...,pos withdrawalfrys-food-drg #1 435 s. e mesa ...

In [13]:
clean_all = pd.DataFrame({'original': outflow[outflow['memo']!=outflow['category']]['memo'], 'cleaned': clean})
# clean_all.loc[clean_all['cleaned'].isna(), 'cleaned'] = clean_all['original']
clean_all

,original,cleaned
2,TST* Casa Del Rio - Exp Fairlawn OH 09/24,tst* casa del rio - exp fairlawn
4,Buffalo Wild Wings,buffalo wild wings
6,Oculus CA 04/16,oculus
7,LOS GIRASOLES STOW OH 03/08,los girasoles stow
8,BUZZIS LAUNDRY 1 OH 03/28,buzzis laundry 1
...,...,...
2597457,DEBIT CARD WITHDRAWAL PURCHASEAmazon Prime*TI4...,withdrawal purchaseamazon prime*ti40l27r3 am...
2597462,POS WITHDRAWALAZ LOT QUIKTRIP XXXX XXXX E INDI...,pos withdrawalaz lot quiktrip e indian sch...
2597465,POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS ...,pos withdrawalwal-mart # e mckellips rd mes...
2597468,WITHDRAWAL Salt River ProjeTYPE: ONLINE PMT CO...,withdrawal salt river projetype: online pmt co...
2597476,POS WITHDRAWALFRYS-FOOD-DRG #1 435 S. E MESA A...,pos withdrawalfrys-food-drg #1 435 s. e mesa ...

## round 2

In [14]:
# continue n-grams
memos = clean_all[clean_all['cleaned'] != clean_all['original']]['cleaned'].unique()
memos = ', '.join(memos)
memos[:1000]

"tst* casa del rio - exp fairlawn  , buffalo wild wings, oculus  , los girasoles stow  , buzzis laundry 1  , tgi fridays   stow  , tst* the basement sp cuyahoga fall  , lowe's, piada - 39  , grubhub, hardees   akron  , market di   state cuyahoga fall  , swensons - montrose akron  , great clips, apple.com/bill  , wing warehouse cuyah cuyahoga fall  , winking lizard - 30 oh  , longhorn steak   cuyahoga fall  , on tap - cuyahoga fa cuyahoga fall  , home depot, falls discount tobacc cuyahoga fls  , burger king, o'charley's, homedepot.com  , dairy queen, east of chicago - cu cuyahoga fall  , giant-eag   corpora uniontown  , fin's bar & chill pigeon forge  , acme no. 12   bai cuyahoga fall   , taco bell, chick-fil-a, walmart, moe's sw grill #  cuyahoga fall  , texas roadhouse, 39 piada cuyahoga fall  , cleveland gaming fairview park  , circle k, iah cnbc smartshop houston  , bob evans rest #  stow  , kohl's, moe's sw grill #  akron  , wendy's, rays place of fairlawn fairlawn  , get go #    st"

In [15]:
clean_all['cleaned'].str.split().str.len().max()

35

In [16]:
n_grams = most_common_ngrams(memos, n=35, top_k=50)
n_grams

[('com', 78759),
 ('purchase', 60407),
 ('amzn', 58420),
 ('card', 49212),
 ('pos', 41730),
 ('amzn com', 37069),
 ('amazon', 33285),
 ('debit', 32279),
 ('checkcard', 30931),
 ('bill', 29968),
 ('com bill', 29040),
 ('amzn com bill', 26107),
 ('amazon com', 25537),
 ('us', 23799),
 ('mktp', 18711),
 ('amzn mktp', 18644),
 ('mktp us', 18581),
 ('amzn mktp us', 18535),
 ('withdrawal', 17377),
 ('visa', 17038),
 ('pos debit', 14672),
 ('22', 14563),
 ('cash', 13902),
 ('check', 13541),
 ('date', 13458),
 ('check card', 13346),
 ('visa check', 11463),
 ('visa check card', 11421),
 ('debit visa', 11252),
 ('debit visa check', 11252),
 ('pos debit visa', 11211),
 ('pos debit visa check', 11211),
 ('debit visa check card', 11211),
 ('pos debit visa check card', 11211),
 ('app', 10495),
 ('21', 10194),
 ('cash app', 10093),
 ('doordash', 9641),
 ('of', 9529),
 ('c', 8297),
 ('pur', 8283),
 ('billwa', 8267),
 ('com billwa', 8267),
 ('s', 8117),
 ('pos purchase', 8026),
 ('amzn com billwa', 7896),
 ('the', 7380),
 ('pin', 7267),
 ('tst', 7263),
 ('mart', 6729)]

In [17]:
sorted_by_len = sorted(n_grams, key=lambda x: len(x[0]), reverse = True)
for item in sorted_by_len:
    print(item)

('pos debit visa check card', 11211)
('debit visa check card', 11211)
('pos debit visa check', 11211)
('debit visa check', 11252)
('visa check card', 11421)
('amzn com billwa', 7896)
('pos debit visa', 11211)
('amzn com bill', 26107)
('amzn mktp us', 18535)
('pos purchase', 8026)
('amazon com', 25537)
('withdrawal', 17377)
('check card', 13346)
('visa check', 11463)
('debit visa', 11252)
('com billwa', 8267)
('checkcard', 30931)
('amzn mktp', 18644)
('pos debit', 14672)
('purchase', 60407)
('amzn com', 37069)
('com bill', 29040)
('cash app', 10093)
('doordash', 9641)
('mktp us', 18581)
('amazon', 33285)
('billwa', 8267)
('debit', 32279)
('check', 13541)
('amzn', 58420)
('card', 49212)
('bill', 29968)
('mktp', 18711)
('visa', 17038)
('cash', 13902)
('date', 13458)
('mart', 6729)
('com', 78759)
('pos', 41730)
('app', 10495)
('pur', 8283)
('the', 7380)
('pin', 7267)
('tst', 7263)
('us', 23799)
('22', 14563)
('21', 10194)
('of', 9529)
('c', 8297)
('s', 8117)

In [18]:
m = clean_all['cleaned'].str.lower()
clean = m.copy(deep = True)

patterns = [r'(?:pos\s)?(?:debit\s)?(?:visa\s)+(?:check\s)?(?:card)?',
            r'pos\spurchase',
            r'withdraw',
            r'\s{2,}']

for p in patterns:
    clean = clean.str.replace(p, ' ', regex=True)

changed_mask = m != clean
changed_items = m[changed_mask]
changed_count = changed_mask.sum()

print("Changed count:", changed_count)

Changed count: 726258

In [19]:
changed = pd.DataFrame({'original': m[changed_mask], 'cleaned': clean[changed_mask]})
changed

,original,cleaned
2,tst* casa del rio - exp fairlawn,tst* casa del rio - exp fairlawn
6,oculus,oculus
7,los girasoles stow,los girasoles stow
8,buzzis laundry 1,buzzis laundry 1
9,buzzis laundry 1,buzzis laundry 1
...,...,...
2597457,withdrawal purchaseamazon prime*ti40l27r3 am...,al purchaseamazon prime*ti40l27r3 amzn.com/bi...
2597462,pos withdrawalaz lot quiktrip e indian sch...,pos alaz lot quiktrip e indian school rd phoen...
2597465,pos withdrawalwal-mart # e mckellips rd mes...,pos alwal-mart # e mckellips rd mesa card 15 #...
2597468,withdrawal salt river projetype: online pmt co...,al salt river projetype: online pmt co:salt r...
2597476,pos withdrawalfrys-food-drg #1 435 s. e mesa ...,pos alfrys-food-drg #1 435 s. e mesa card 15 #...

In [20]:
clean_all = pd.DataFrame({'original': outflow[outflow['memo']!=outflow['category']]['memo'], 'cleaned': clean})
clean_all

,original,cleaned
2,TST* Casa Del Rio - Exp Fairlawn OH 09/24,tst* casa del rio - exp fairlawn
4,Buffalo Wild Wings,buffalo wild wings
6,Oculus CA 04/16,oculus
7,LOS GIRASOLES STOW OH 03/08,los girasoles stow
8,BUZZIS LAUNDRY 1 OH 03/28,buzzis laundry 1
...,...,...
2597457,DEBIT CARD WITHDRAWAL PURCHASEAmazon Prime*TI4...,al purchaseamazon prime*ti40l27r3 amzn.com/bi...
2597462,POS WITHDRAWALAZ LOT QUIKTRIP XXXX XXXX E INDI...,pos alaz lot quiktrip e indian school rd phoen...
2597465,POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS ...,pos alwal-mart # e mckellips rd mesa card 15 #...
2597468,WITHDRAWAL Salt River ProjeTYPE: ONLINE PMT CO...,al salt river projetype: online pmt co:salt r...
2597476,POS WITHDRAWALFRYS-FOOD-DRG #1 435 S. E MESA A...,pos alfrys-food-drg #1 435 s. e mesa card 15 #...

## round 3

In [21]:
# continue n-grams
memos = clean_all['cleaned'].unique()
memos = ', '.join(memos)
memos[:1000]

"tst* casa del rio - exp fairlawn , buffalo wild wings, oculus , los girasoles stow , buzzis laundry 1 , tgi fridays stow , tst* the basement sp cuyahoga fall , lowe's, piada - 39 , grubhub, hardees akron , market di state cuyahoga fall , swensons - montrose akron , great clips, apple.com/bill , wing warehouse cuyah cuyahoga fall , winking lizard - 30 oh , longhorn steak cuyahoga fall , on tap - cuyahoga fa cuyahoga fall , home depot, falls discount tobacc cuyahoga fls , burger king, o'charley's, homedepot.com , dairy queen, east of chicago - cu cuyahoga fall , giant-eag corpora uniontown , fin's bar & chill pigeon forge , acme no. 12 bai cuyahoga fall , taco bell, chick-fil-a, walmart, moe's sw grill # cuyahoga fall , texas roadhouse, 39 piada cuyahoga fall , cleveland gaming fairview park , circle k, iah cnbc smartshop houston , bob evans rest # stow , kohl's, moe's sw grill # akron , wendy's, rays place of fairlawn fairlawn , get go # st cuyahoga fall , dd doordash dashmart , chipotl"

In [22]:
clean_all['cleaned'].str.split().str.len().max()

35

In [23]:
n_grams = most_common_ngrams(memos, n=35, top_k=50)
sorted_by_len = sorted(n_grams, key=lambda x: len(x[0]), reverse = True)
for item in sorted_by_len:
    print(item)

('amzn com billwa', 7896)
('amzn com bill', 26103)
('point of sale', 6162)
('amzn mktp us', 18535)
('amazon com', 25530)
('com billwa', 8267)
('checkcard', 30862)
('amzn mktp', 18644)
('pos debit', 14657)
('recurring', 5559)
('purchase', 52168)
('amzn com', 37066)
('com bill', 28988)
('cash app', 10014)
('doordash', 9555)
('point of', 6162)
('mktp us', 18581)
('of sale', 6162)
('date 22', 5492)
('amazon', 33276)
('billwa', 8267)
('debit', 32080)
('point', 6695)
('amzn', 58417)
('card', 35678)
('bill', 29916)
('mktp', 18709)
('cash', 13816)
('date', 13456)
('mart', 6695)
('sale', 6196)
('com', 78531)
('pos', 33641)
('app', 10414)
('pur', 8265)
('the', 7330)
('pin', 7256)
('tst', 7249)
('san', 6582)
('crd', 6407)
('wal', 6168)
('us', 23778)
('al', 18630)
('22', 14549)
('21', 10183)
('of', 9519)
('id', 6350)
('12', 6071)
('c', 8269)
('s', 8088)

In [24]:
[i for i in clean_all['cleaned']]

['tst* casa del rio - exp fairlawn ',
 'buffalo wild wings',
 'oculus ',
 'los girasoles stow ',
 'buzzis laundry 1 ',
 'buzzis laundry 1 ',
 'tgi fridays stow ',
 'tst* the basement sp cuyahoga fall ',
 "lowe's",
 'piada - 39 ',
 'grubhub',
 'hardees akron ',
 'market di state cuyahoga fall ',
 'swensons - montrose akron ',
 'great clips',
 'apple.com/bill ',
 'apple.com/bill ',
 'apple.com/bill ',
 'los girasoles stow ',
 'wing warehouse cuyah cuyahoga fall ',
 'winking lizard - 30 oh ',
 'longhorn steak cuyahoga fall ',
 'on tap - cuyahoga fa cuyahoga fall ',
 'tst* the basement sp cuyahoga fall ',
 'great clips',
 'oculus ',
 'home depot',
 "lowe's",
 'falls discount tobacc cuyahoga fls ',
 'burger king',
 "lowe's",
 "o'charley's",
 'homedepot.com ',
 'dairy queen',
 'east of chicago - cu cuyahoga fall ',
 'giant-eag corpora uniontown ',
 'wing warehouse cuyah cuyahoga fall ',
 "fin's bar & chill pigeon forge ",
 'acme no. 12 bai cuyahoga fall ',
 'taco bell',
 'chick-fil-a',
 'apple.com/bill ',
 'tst* casa del rio - exp fairlawn ',
 'walmart',
 "moe's sw grill # cuyahoga fall ",
 'texas roadhouse',
 'walmart',
 '39 piada cuyahoga fall ',
 'burger king',
 "lowe's",
 'cleveland gaming fairview park ',
 'wing warehouse cuyah cuyahoga fall ',
 'taco bell',
 'great clips',
 'circle k',
 'los girasoles stow ',
 "moe's sw grill # cuyahoga fall ",
 'tst* the basement sp cuyahoga fall ',
 'burger king',
 'buzzis laundry 1 ',
 'circle k',
 'iah cnbc smartshop houston ',
 'buzzis laundry 1 ',
 'chick-fil-a',
 'walmart',
 'winking lizard - 30 oh ',
 'bob evans rest # stow ',
 "kohl's",
 'tgi fridays stow ',
 "moe's sw grill # akron ",
 'walmart',
 'taco bell',
 "wendy's",
 'rays place of fairlawn fairlawn ',
 "moe's sw grill # cuyahoga fall ",
 'circle k',
 'tst* the basement sp cuyahoga fall ',
 'bob evans rest # stow ',
 'walmart',
 'buzzis laundry 1 ',
 'get go # st cuyahoga fall ',
 'dd doordash dashmart ',
 'chipotle mexican grill',
 'walmart',
 'swensons - north akron akron ',
 'los girasoles stow ',
 'piada - 39 ',
 'papaya salad thai fo cuyahoga fall ',
 'chick-fil-a',
 "mcdonald's",
 'los girasoles stow ',
 'mr hero - cuyahoga fall ',
 'papaya salad thai fo cuyahoga fall ',
 'kfc k medina ',
 'kings of vapor 2 cuyahoga fall ',
 'dairy queen',
 'pet supplies plus',
 'walmart',
 "tst* zeppe's bistro of hudson ",
 'east of chicago - cu cuyahoga fall ',
 'sweet mary bakery akron ',
 'i-x center cleveland ',
 'buzzis laundry 1 ',
 "applebee's",
 'walmart',
 'five guys',
 'chick-fil-a',
 'piada - 39 ',
 'walmart',
 'buzzis laundry 1 ',
 "moe's sw grill # cuyahoga fall ",
 'kenjo market 43 pigeon forge ',
 'buzzis laundry 1 ',
 'walmart',
 'on tap - cuyahoga fa cuyahoga fall ',
 'acme no. baile cuyahoga fall ',
 'walmart',
 "domino's",
 'piada - 39 ',
 'dairy queen',
 "moe's sw grill # cuyahoga fall ",
 'apple.com/bill ',
 'buzzis laundry 1 ',
 'kfc j cuyahoga fall ',
 "applebee's",
 'papaya salad thai fo cuyahoga fall ',
 'walmart',
 'walmart',
 'walmart',
 'little caesars cuyahoga fall ',
 'buzzis laundry 1 ',
 'get go # st cuyahoga fall ',
 'wing warehouse cuyah cuyahoga fall ',
 'dd doordash pizzahut ',
 'get go #3 state cuyahoga fall ',
 'walmart',
 'duma meats & farm mark mogadore ',
 'yh snack shack pigeon forge ',
 'winking lizard - 30 oh ',
 "wendy's",
 'kfc j akron ',
 'walmart',
 'walmart',
 'walmart',
 'east of chicago - barbe barberton ',
 'bob evans rest # stow ',
 'tst* the basement sp cuyahoga fall ',
 'great clips',
 'oculus ',
 'texas roadhouse',
 'rays place of fairlawn fairlawn ',
 'pet supplies plus',
 'walmart',
 'tst* the basement sp cuyahoga fall ',
 'dollar general',
 'paninis stow ',
 'kfc j cuyahoga fall ',
 'mandarin house cuyahoga fls ',
 'mandarin house cuyahoga fls ',
 'apple.com/bill ',
 "emery's 5 & 10 pigeon forge ",
 'buzzis laundry 1 ',
 'lemongrass grill munroe falls ',
 'piada - 39 ',
 "chili's #378 akron ",
 'best buy',
 'piada - 39 ',
 'duma meats & farm mark mogadore ',
 'walmart',
 'rays place of fairlawn fairlawn ',
 'best buy',
 'great clips',
 'mr hero - cuyahoga fall ',
 'los girasoles stow ',
 'apple.com/bill ',
 "wendy's",
 'los girasoles stow ',
 'jubilee donuts, cuyahoga fall ',
 'tst* the lockview akron ',
 'on tap - cuyahoga fa cuyahoga fall ',
 'oculus ',
 'winking lizard - 207 m ',
 'sp sweetsandgeeks 133- ',
 "kohl's",
 'swensons drive-in res ',
 'wasabi copley ',
 "moe's sw grill # cuyahoga fall ",
 'taco bell',
 'longhorn steak cuyahoga fall ',
 'taco bell',
 'pet supplies plus',
 'circle k',
 'buzzis laundry 1 ',
 '39 piada cuyahoga fall ',
 'winking lizard - 30 oh ',
 'save a lot # stow ',
 'mr hero - cuyahoga fall ',
 'taco bell',
 'wing warehouse cuyah cuyahoga fall ',
 'piada - 39 ',
 'apple.com/bill ',
 "chili's #378 akron ",
 'blue habanero brecksvi brecksville ',
 'apple.com/bill ',
 'texas roadhouse',
 'sunrise kitchen stow ',
 'tgi fridays stow ',
 'chicken guy gatlinburg gatlinburg ',
 'on tap - cuyahoga fa cuyahoga fall ',
 'tst* the basement sp cuyahoga fall ',
 'paninis stow ',
 'taco bell',
 "o'charley's",
 'oculus ',
 'dd doordash lemongras ',
 'apple.com/bill ',
 'arbys uniontown ',
 'pizza hut',
 'apple.com/bill ',
 'tgi fridays stow ',
 "mcdonald's",
 'tst* the basement sp cuyahoga fall ',
 'los girasoles stow ',
 '39 piada cuyahoga fall ',
 'wing warehouse cuyah cuyahoga fall ',
 'best buy',
 'circle k',
 'tst* the basement sp cuyahoga fall ',
 'burger king',
 'lemongrass grill munroe falls ',
 'los girasoles stow ',
 'buzzis laundry 1 ',
 'walmart',
 'walmart',
 'apple.com/bill ',
 'kfc j cuyahoga fall ',
 'buzzis laundry 1 ',
 'buzzis laundry 1 ',
 'buzzis laundry 1 ',
 'apple.com/bill ',
 'longhorn steak copley ',
 'penn station 226 cuyahoga fall ',
 'usps po 205 cuyahoga fall ',
 'east of chicago - cu cuyahoga fall ',
 'tst* the basement sp cuyahoga fall ',
 'buzzis laundry 1 ',
 'dd doordash timspizze ',
 'pet supplies plus',
 'tst* the basement sp cuyahoga fall ',
 'walmart',
 'wingstop',
 'jubilee donuts, cuyahoga fall ',
 'texas roadhouse',
 'walmart',
 "chili's #505 macedonia ",
 'on tap - cuyahoga fa cuyahoga fall ',
 'home depot',
 'tst* rocknes stow stow ',
 'wing warehouse cuyah cuyahoga fall ',
 'pet supplies plus',
 'walmart',
 'buzzis laundry 1 ',
 'walmart',
 "applebee's",
 'apple.com/bill ',
 'pet supplies plus',
 'los girasoles stow ',
 'wing warehouse cuyah cuyahoga fall ',
 'buzzis laundry 1 ',
 'swensons drive-in res ',
 "wendy's",
 'wing warehouse cuyah cuyahoga fall ',
 'wyoga veterinary hos cuyahoga fall ',
 'walmart',
 'tgi fridays stow ',
 'pet supplies plus',
 'walmart',
 '39 piada cuyahoga fa cuyahoga fall ',
 'tst* the basement sp cuyahoga fall ',
 'rays place of fairlawn fairlawn ',
 'walmart',
 'kfc j cuyahoga fall ',
 'pet supplies plus',
 'walmart',
 'walmart',
 'buzzis laundry 1 ',
 'wing warehouse cuyah cuyahoga fall ',
 'acme no. 12 bai cuyahoga fall ',
 'walmart',
 'the depot restaurant rittman ',
 'tst* the basement sp cuyahoga fall ',
 'tst* the basement sp cuyahoga fall ',
 'papaya salad thai fo cuyahoga fall ',
 'dd doordash cosmicwin ',
 'the goat coaster at g pigeon forge ',
 'apple.com/bill ',
 'walmart',
 'buzzis laundry 1 ',
 'apple.com/bill ',
 'buzzis laundry 1 ',
 'tgi fridays stow ',
 'buzzis laundry 1 ',
 'cinnaholic pigeon forge ',
 'five belo william wadsworth ',
 "lowe's",
 'apple.com/bill ',
 'buzzis laundry 1 ',
 '39 piada cuyahoga fa cuyahoga fall ',
 'winking lizard - 207 m ',
 "wendy's",
 'ubisoft san francisco ',
 'east of chicago - cu cuyahoga fall ',
 'kfc j wadsworth ',
 'mr hero - cuyahoga fall ',
 'burger king',
 'taco bell',
 'red lobster',
 'buzzis laundry 1 ',
 'burger king',
 'arbys streetsboro ',
 'kfc j cuyahoga fall ',
 'tst* the basement sp cuyahoga fall ',
 'zsk*ce bigrock kitche pigeon forge ',
 'texas roadhouse',
 'bob evans rest # stow ',
 'steak-n-shake# q99 akron ',
 'pet supplies plus',
 ' poke poku henderson ',
 ' liquor city hender henderson ',
 'purchase intl rituals cosmetics dublin irl ',
 "trader joe''s",
 ' vans #174 las vegas card ',
 ' michael kors - las vegas card ',
 ' nails r us henderson ',
 ' joshua tree nation twentynine ca ',
 'albertsons',
 'sephora',
 "lowe''s",
 ' salon evo stud henderson ',
 " lee''s dis lee''s discou henderson card ",
 ' amazon digit*2d6hd amzn.com/bill ',
 ' cheesecake 100 onl olo.com ',
 'albertsons',
 ' star nursery las vegas ',
 ' taj palace gosq.com ',
 'albertsons',
 ' tst* scrambled - h henderson ',
 ' wahoos fish taco - henderson ',
 ' i love liquor miami beach ',
 ' amazon tips*j57k73 amzn.com/bill ',
 'albertsons',
 'albertsons',
 'albertsons',
 'albertsons',
 ' gofundme help tayl redwood city ',
 'amazon',
 'purchase intl cinnamon cottage c rochestown irl ',
 ' siriya thai restau henderson ',
 "trader joe''s",
 'amazon prime',
 'albertsons',
 ' amazon.com*eq7rr9q amzn.com/bill ',
 'purchase intl lennoxs*take away klampenborg dnk ',
 'amazon prime',
 ' liquor city hender henderson ',
 ' amazon tips*pl5nn7 amzn.com/bill ',
 'purchase intl mucros garden rest killarney irl ',
 'target',
 'amazon',
 " chico''s #426 855 s grand las vegas card ",
 ' white house blk vill henderson card ',
 ' star nursery las vegas ',
 ' seafood city su las vegas card ',
 ' tst* mothership henderson ',
 ' nakata market of j henderson ',
 'amazon',
 'amazon prime',
 ' baskin # las vegas ',
 'albertsons',
 ' michael kors-909 ',
 ' grn valley spa henderson ',
 'albertsons',
 'recurring payment clearme.com *clear ',
 'ace hardware',
 'albertsons',
 ' nails r us henderson ',
 ' gata thai cuisine henderson ',
 ' homewisedocs ',
 'target',
 'amazon',
 'target',
 'purchase intl caffe nero dublin dublin irl ',
 ' destination xl # henderson card ',
 'purchase intl hotel on booking.c amsterdam nld ',
 'sephora',
 ' the loop t2 k67a0k7 irl ',
 'amazon',
 'popeyes',
 'amazon',
 ' siriya thai restau henderson ',
 'albertsons',
 'old navy',
 'albertsons',
 'albertsons',
 'albertsons',
 ' petco henderson card ',
 'amazon',
 'purchase intl dune london gbr ',
 ' amazon.com*9f8do42 amzn.com/bill ',
 'albertsons',
 'purchase intl aldi 36 873 county cork irl ',
 ' sp * cpap store us las vegas ',
 "victoria''s secret",
 'five guys',
 'purchase intl lennoxs*take away klampenborg dnk ',
 ' tst* golden fog las vegas ',
 'amazon',
 ' amazon.com*2g5xc7r amzn.com/bill ',
 ' whitehouseblackmar ',
 'target',
 'amazon',
 ' tillys #229 las vegas card ',
 ' star nursery las vegas ',
 'amazon',
 'purchase intl stripe payment dublin 8 irl ',
 'albertsons',
 'amazon prime',
 ' salon evo stud henderson ',
 'albertsons',
 ' amazon digit*2e90x amzn.com/bill ',
 ' gata thai cuisine henderson ',
 ' amazon digit*217bt amzn.com/bill ',
 ' amazon digit*sc6k9 amzn.com/bill ',
 ' tst* scrambled - h henderson ',
 "lowe''s",
 'purchase intl slaney bar dublin irl ',
 ' las vegas sock market las vegas card ',
 'purchase intl penneys killarney killarney irl ',
 ' raiders 1-800-raid ',
 'amazon',
 ' amazon.com*381l05p amzn.com/bill ',
 ' cleaners henderson card ',
 ' janieandjack.com 9 ',
 'purchase intl sp * simmons baker hatfield gbr ',
 'amazon',
 'albertsons',
 ' nakata market of j henderson ',
 ' cleaners henderson ',
 'purchase intl mc daids public ho d02nc42 irl ',
 ' whitehouseblackmar ',
 'chick-fil-a',
 'albertsons',
 ' star nursery las vegas ',
 'albertsons',
 'spirit halloween superstores',
 'amazon',
 'circle k',
 'purchase intl lidl ballinco lidl ireland. irl ',
 ' star nursery las vegas ',
 'chick-fil-a',
 ' nails r us henderson ',
 'albertsons',
 "lowe''s",
 ' white house blk 875 s gra las vegas card ',
 ' dsw stephanie stre henderson ',
 'amazon prime',
 'amazon prime',
 'amazon',
 ' bath and body works henderson card ',
 ' sip and savor kitc las vegas ',
 'purchase intl lennoxs*take away klampenborg dnk ',
 ' wahoos fish taco # henderson ',
 ' nails r us henderson ',
 'target',
 ' vons.com # ',
 ' india british mark las vegas ',
 ' re:vive jamaica ',
 "mcdonald''s",
 'albertsons',
 'purchase intl lennoxs*take away klampenborg dnk ',
 'amazon prime',
 'zappos.com',
 'amazon',
 ' poke poku henderson ',
 'purchase intl dunnes ballincolli cork irl ',
 'albertsons',
 'albertsons',
 'albertsons',
 'albertsons',
 ' amzn digital*2l670 ',
 ' mccarran airpt par ',
 ' amazon.com*st89m21 amzn.com/bill ',
 'circle k',
 'albertsons',
 'amazon prime',
 ' amazon digit*zn47f amzn.com/bill ',
 'albertsons',
 ' van heusen #458 las vegas card ',
 ' pinches tacos henderson ',
 "domino''s",
 ' pasta shop ris henderson ',
 'amazon prime',
 ' nails r us henderson ',
 'ace hardware',
 'albertsons',
 ' smiths food #434 n. henderson card ',
 ' siriya thai restau henderson ',
 'albertsons',
 'albertsons',
 'sephora',
 ' amazon digit*2r0df amzn.com/bill ',
 ' kate spade outlet las vegas ',
 ' tst* tacotarian - las vegas ',
 'chick-fil-a',
 ' nails r us henderson ',
 'albertsons',
 'recurring payment intl brown thomas dublin irl ',
 'albertsons',
 ' tst* settebello pi ',
 'amazon',
 ' star nursery las vegas ',
 ' vans #174 las vegas card ',
 "domino''s",
 ' amazon.com*q43ms5p amzn.com/bill ',
 'amazon prime',
 " leslie''s poolmart henderson card ",
 ' tst* johnny mac s henderson ',
 ' white house blk vill henderson card ',
 'amazon prime',
 'amazon',
 'purchase intl foleys restaurant killarney irl ',
 'albertsons',
 ' nails r us henderson ',
 ' amazon tips*ac4kz5 amzn.com/bill ',
 ' amazon digit*ik2x5 amzn.com/bill ',
 ' salon evo stud henderson ',
 ' whitehouseblackmar ',
 " ruby''s dinette d l las vegas ",
 'albertsons',
 ' tst* golden fog las vegas ',
 'whole foods',
 ' amazon.com*vm7ro82 amzn.com/bill ',
 ' nielsens frozen cu las vegas ',
 ' vons.com # ',
 ' amazon digit*2y4nm amzn.com/bill ',
 'ace hardware',
 ' vons # henderson card ',
 "mcdonald''s",
 ' cleaners henderson card ',
 ' vons # henderson card ',
 ' star nursery las vegas ',
 ' nails r us henderson ',
 'albertsons',
 'albertsons',
 ' vons.com # ',
 'albertsons',
 ' liquor city henderson henderson card ',
 ' bath and body works henderson card ',
 'albertsons',
 'recurring payment intl brown thomas dublin irl ',
 ' smiths fo n. gree henderson card ',
 ' amazon digit*2g1go amzn.com/bill ',
 ' star nursery las vegas ',
 'chick-fil-a',
 ' homewisedocs ',
 ' tst* aloha kitchen las vegas ',
 ' usps change of add ',
 'amazon prime',
 'albertsons',
 ' nails r us henderson ',
 ' kainan asian marke las vegas ',
 ' cleaners henderson card ',
 ' nails r us henderson ',
 'checkcard tst* noodle world jr. - los angeles ',
 'checkcard city parking meter los angeles ',
 'purchase scbjj* scbjj jiujitca recurring',
 'purchase apple.com/bill recurring',
 'westin hotel',
 'checkcard city of b h parking met beverly hillsca ',
 'checkcard mp-*laurel canyon assoc - ',
 'target st # purchase target st w',
 'checkcard apple.com/bill recurring',
 'checkcard amazon.com*5i2i51bn3 am amzn.com/billwa ',
 "trader joe's",
 'costco',
 'best buy',
 'costco',
 'checkcard gsuite_besmer. cc@google.comca recurring',
 'checkcard mocozy san diego ',
 'checkcard amazon.com*dh6te3nh3 am amzn.com/billwa ',
 'checkcard amazon.com*h29pa08p0 am amzn.com/billwa ',
 'checkcard yada www.yada.org ',
 'amazon',
 'checkcard 99-cents-only # los angeles ',
 'target st # purchase target st w',
 'amazon',
 'checkcard amazon.com*zc2fn3k63 am amzn.com/billwa ',
 'checkcard amazon.com*x73py5zf3 am amzn.com/billwa ',
 'amazon',
 'checkcard zaza cuban coffee cafe orlando ',
 'purchase scbjj* scbjj dknakagawa@gmca recurring',
 'chipotle mexican grill',
 'amazon',
 'wf home mtg des:auto pay id: indn:christoph besmer id: ppd',
 'purchase scbjj* scbjj jiujitca recurring',
 'checkcard amazon.com*944ay84w3 am amzn.com/billwa ',
 'checkcard city parking meter los angeles ',
 'purchase scbjj* scbjj jiujitca recurring',
 'checkcard n out burger 311 quinta ',
 'checkcard city parking meter los angeles ',
 'checkcard amazon.com*h26qg45l0 am amzn.com/billwa ',
 'marshalls # purchase marshalls ho',
 'checkcard city parking meter los angeles ',
 'checkcard amazon.com*1h5hm am amzn.com/billwa ',
 'checkcard amazon.com*go13 am amzn.com/billwa ',
 'checkcard apple.com/bill recurring',
 'amazon',
 'purchase apple.com/bill recurring',
 'jons market 7 # purchase jons market 7 531',
 'checkcard city parking meter los angeles ',
 'usps po # purchase usps po ',
 'checkcard amazon.com*h85mb8ni2 am amzn.com/billwa ',
 'checkcard amazon.com*kj9vp9is3 am amzn.com/billwa ',
 'checkcard pk nail boutique, inc. studio city ',
 'ralphs',
 'target',
 'checkcard amazon.com*9x8b90c13 am amzn.com/billwa ',
 'checkcard google llc gsuite_besme - recurring',
 "checkcard nikky's flowers los angeles ",
 'checkcard apple.com/bill recurring',
 'costco',
 'checkcard wall street florals los angeles ',
 'checkcard apple.com/bill ',
 'checkcard apple.com/bill recurring',
 'checkcard amazon.com*fj4bk1a23 am amzn.com/billwa ',
 'checkcard weho street meters west hollywooca ',
 'checkcard belmont pier long beach ',
 'purchase apple.com/bill recurring',
 'bristol farms',
 'checkcard amazon.com*th9cm6tf3 am amzn.com/billwa ',
 'checkcard w austin austin ',
 'checkcard apple.com/bill recurring',
 'amazon',
 'checkcard amazon.com*fu66m14j3 am amzn.com/billwa ',
 'checkcard samsung electronics - ',
 'best buy',
 'costco',
 'purchase apple.com/bill recurring',
 'amazon',
 'amazon',
 'checkcard city parking meter los angeles ',
 'checkcard apple.com/bill recurring',
 'amazon',
 'amazon',
 'amazon',
 'amazon',
 'checkcard amazon.com*rk7bz32j3 am amzn.com/billwa ',
 'wf home mtg des:auto pay id: indn:christoph besmer id: ppd',
 'overdraft item fee for activity of 12-20 check # posting date 12-20-22 posting seq ',
 'amazon',
 'checkcard city parking meter los angeles ',
 'best buy',
 "trader joe's",
 'checkcard amazon.com*1z2sp73z1 am amzn.com/billwa ',
 'wf home mtg des:auto pay id: indn:christoph besmer id: web',
 'checkcard amazon.com*mo1uf0l63 am amzn.com/billwa ',
 "bashas' #016 # purchase bashas' #016",
 'checkcard google llc gsuite_besme - recurring',
 'target',
 'purchase scbjj* scbjj jiujitca recurring',
 "trader joe's",
 'target',
 'checkcard amazon.com*hb0bi3rq2 am amzn.com/billwa ',
 'checkcard amzn digital*i82jy3mx3 ',
 'amazon',
 'checkcard weho street meters west hollywooca ',
 'amazon',
 "trader joe's",
 'checkcard samsung electronics - ',
 'amazon',
 'checkcard amazon.com*g57g24bw3 am amzn.com/billwa ',
 'checkcard amazon.com*h82w14n42 am amzn.com/billwa ',
 'wf home mtg des:retry pymt id: indn:christoph besmer id: ppd',
 'wf home mtg des:auto pay id: indn:christoph besmer id: ppd',
 'checkcard pride n joy pet care ce shermam oaks ',
 'checkcard city parking meter los angeles ',
 'amazon',
 'checkcard gsuite besmer.c support.googlca ',
 'amazon',
 'checkcard amazon.com*c43x18g33 am amzn.com/billwa ',
 'amazon',
 'amazon',
 'checkcard gsuite_besmer. cc@google.comca recurring',
 'amazon',
 'best buy',
 "trader joe's",
 'costco',
 'best buy',
 'usps kiosk 054 # purchase usps kiosk ',
 'checkcard amazon.com*ht0y am amzn.com/billwa ',
 'checkcard amazon.com*os3ds9f43 am amzn.com/billwa ',
 'checkcard city parking meter los angeles ',
 'amazon',
 'checkcard amazon.com*5o8v37pt3 am amzn.com/billwa ',
 'amazon',
 'best buy',
 'wf home mtg des:auto pay id: indn:christoph besmer id: ppd',
 'amazon',
 'vons # # purchase vons # ',
 'purchase scbjj* scbjj dknakagawa@gmca recurring',
 'smart and fina # purchase smart and final w hollywood',
 'usps po # purchase usps po ',
 'amazon',
 'best buy',
 'checkcard snack soda vending aiea ',
 'checkcard apple.com/bill ',
 "trader joe's",
 'checkcard samsung electronics - ',
 'checkcard amazon.com*kv3k53lg3 am amzn.com/billwa ',
 'purchase apple.com/bill recurring',
 'checkcard city parking meter los angeles ',
 'lyft',
 'checkcard gsuite_besmer. cc@google.comca recurring',
 'purchase apple.com/bill ',
 'checkcard jc grand tree los angeles ',
 'wf home mtg des:auto pay id: indn:christoph besmer id: web',
 'amazon',
 'checkcard global exchange turkey istanbul ',
 'amazon',
 'best buy',
 'target',

In [25]:
# see what else to remove --> especially addresses

In [26]:
clean_all['cleaned'].value_counts()

cleaned
amazon                                                 31725
walmart                                                31619
mcdonald's                                             22671
starbucks                                              12778
7-eleven                                               11757
                                                       ...
 ale house bar & gr shamokin                               1
 arbys # milroy                                            1
 arthritis & osteop wyomissing                             1
 big top beverage abington                                 1
pos alwal-mart # e mckellips rd mesa card 15 # mcc         1
Name: count, Length: 332690, dtype: int64

In [27]:
# unique memo count
# 240076 ~ 10%
sum(clean_all['cleaned'].value_counts()==1)

240076

In [28]:
clean_all = clean_all.reindex(outflow.index)
outflow['cleaned_memo'] = clean_all['cleaned'].fillna(outflow['memo'])
outflow = outflow[['prism_consumer_id', 'prism_account_id', 'memo', 'cleaned_memo', 
                   'amount', 'posted_date', 'category']]               
outflow

,prism_consumer_id,prism_account_id,memo,cleaned_memo,amount,posted_date,category
0,0,acc_0,LOAN,LOAN,900.60,2022-07-05,LOAN
1,0,acc_0,ATM_CASH,ATM_CASH,80.00,2022-03-25,ATM_CASH
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,tst* casa del rio - exp fairlawn,18.42,2022-09-26,FOOD_AND_BEVERAGES
3,0,acc_0,LOAN,LOAN,634.00,2023-01-10,LOAN
4,0,acc_0,Buffalo Wild Wings,buffalo wild wings,26.47,2022-09-12,FOOD_AND_BEVERAGES
...,...,...,...,...,...,...,...
2597483,5941,acc_9524,ATM_CASH,ATM_CASH,8.42,2023-01-25,ATM_CASH
2597484,5941,acc_9524,ATM_CASH,ATM_CASH,2.06,2023-01-25,ATM_CASH
2597485,5941,acc_9524,ATM_CASH,ATM_CASH,262.88,2023-01-25,ATM_CASH
2597486,5941,acc_9524,ATM_CASH,ATM_CASH,10.00,2023-01-25,ATM_CASH
2597487,5941,acc_9524,UNCATEGORIZED,UNCATEGORIZED,35.13,2023-01-25,UNCATEGORIZED

In [29]:
outflow[outflow['memo']!=outflow['cleaned_memo']]

,prism_consumer_id,prism_account_id,memo,cleaned_memo,amount,posted_date,category
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,tst* casa del rio - exp fairlawn,18.42,2022-09-26,FOOD_AND_BEVERAGES
4,0,acc_0,Buffalo Wild Wings,buffalo wild wings,26.47,2022-09-12,FOOD_AND_BEVERAGES
6,0,acc_0,Oculus CA 04/16,oculus,11.73,2022-04-18,GENERAL_MERCHANDISE
7,0,acc_0,LOS GIRASOLES STOW OH 03/08,los girasoles stow,30.04,2022-03-09,FOOD_AND_BEVERAGES
8,0,acc_0,BUZZIS LAUNDRY 1 OH 03/28,buzzis laundry 1,4.16,2022-03-29,GENERAL_MERCHANDISE
...,...,...,...,...,...,...,...
2597457,5941,acc_9524,DEBIT CARD WITHDRAWAL PURCHASEAmazon Prime*TI4...,al purchaseamazon prime*ti40l27r3 amzn.com/bi...,15.93,2023-01-16,GENERAL_MERCHANDISE
2597462,5941,acc_9524,POS WITHDRAWALAZ LOT QUIKTRIP XXXX XXXX E INDI...,pos alaz lot quiktrip e indian school rd phoen...,25.00,2023-01-18,EDUCATION
2597465,5941,acc_9524,POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS ...,pos alwal-mart # e mckellips rd mesa card 15 #...,3.68,2023-01-18,FOOD_AND_BEVERAGES
2597468,5941,acc_9524,WITHDRAWAL Salt River ProjeTYPE: ONLINE PMT CO...,al salt river projetype: online pmt co:salt r...,90.00,2023-01-20,FOOD_AND_BEVERAGES
2597476,5941,acc_9524,POS WITHDRAWALFRYS-FOOD-DRG #1 435 S. E MESA A...,pos alfrys-food-drg #1 435 s. e mesa card 15 #...,7.74,2023-01-21,FOOD_AND_BEVERAGES

In [30]:
# changed.iloc[0]['cleaned']

In [31]:
# without_cat = clean_all['cleaned']
# sample = without_cat[without_cat.str.lower().str.contains('com billwa', regex=True)]
# sample

In [32]:
# sample.iloc[0]

In [33]:
# outflow[outflow['memo']!=outflow['category']]

## Test Category Imbalance

In [41]:
nine_cat=outflow.groupby('category')['memo'].nunique().reset_index(name='unique_memo_count').sort_values(by='unique_memo_count', ascending=False)[:9]['category']

In [43]:
outflow[outflow['category'].isin(nine_cat)].groupby('category')['memo'].count()

category
EDUCATION                4499
FOOD_AND_BEVERAGES     481994
GENERAL_MERCHANDISE    524063
GROCERIES              219331
MORTGAGE                 1119
OVERDRAFT                3386
PETS                     9266
RENT                     3147
TRAVEL                  59647
Name: memo, dtype: int64

## Finds

#1: Payroll info in memos under category: 'General Merchandise

In [35]:
outflow[outflow['memo'].str.contains('GUSTO')].head(10)

,prism_consumer_id,prism_account_id,memo,cleaned_memo,amount,posted_date,category
141680,326,acc_966,GUSTO/NET XXXXXX / 6semjq46avb Excelerate Acad...,gusto/net / 6semjq46avb excelerate academy llc,1227.46,2021-07-23,EDUCATION
141689,326,acc_966,GUSTO/TAX XXXXXX / 6semjra3md0 Excelerate Acad...,gusto/tax / 6semjra3md0 excelerate academy llc,70.40,2022-03-03,EDUCATION
141700,326,acc_966,GUSTO/TAX XXXXXX / 6semjrcmemm Excelerate Acad...,gusto/tax / 6semjrcmemm excelerate academy llc,48.13,2022-03-17,EDUCATION
141803,326,acc_966,GUSTO/TAX XXXXXX / 6semjqaf1tl Excelerate Acad...,gusto/tax / 6semjqaf1tl excelerate academy llc,70.69,2021-09-02,EDUCATION
141878,326,acc_966,GUSTO/NET XXXXXX / 6semjq1ao5i Excelerate Acad...,gusto/net / 6semjq1ao5i excelerate academy llc,566.64,2021-07-06,EDUCATION
141883,326,acc_966,GUSTO/NET XXXXXX / 6semjq63sle Excelerate Acad...,gusto/net / 6semjq63sle excelerate academy llc,1303.60,2021-08-05,EDUCATION
141917,326,acc_966,GUSTO/NET XXXXXX / 6semjr4u83j Excelerate Acad...,gusto/net / 6semjr4u83j excelerate academy llc,1441.36,2022-02-03,EDUCATION
141978,326,acc_966,GUSTO/NET XXXXXX / 6semjqqigkr Excelerate Acad...,gusto/net / 6semjqqigkr excelerate academy llc,690.03,2021-12-09,EDUCATION
141981,326,acc_966,GUSTO/NET XXXXXX / 6semjqt17td Excelerate Acad...,gusto/net / 6semjqt17td excelerate academy llc,267.81,2021-12-23,EDUCATION
141984,326,acc_966,GUSTO/NET XXXXXX / 6semjqjeho5 Excelerate Acad...,gusto/net / 6semjqjeho5 excelerate academy llc,286.29,2021-10-28,EDUCATION

In [36]:
outflow[outflow['memo'].str.contains('GUSTO')]['memo'].loc[572115]

'GUSTO DES:CND XXXXXX ID:6semjrdkv9j INDN:Newhouse Law Group, PC CO ID:XXXXXXXXXX CCD'

In [37]:
outflow[outflow['memo'].str.contains('GUSTO')]['memo'].iloc[0]

'GUSTO/NET XXXXXX / 6semjq46avb Excelerate Academy LLC'