In [18]:
import pandas as pd
Inflows = pd.read_parquet("/uss/hdsi-prismdata/q1-ucsd-inflows.pqt")
Outflows = pd.read_parquet("/uss/hdsi-prismdata/q1-ucsd-outflows.pqt")

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
Outflows['amount'] = -1 * Outflows['amount']

In [21]:
Outflows

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,LOAN,-900.60,2022-07-05,LOAN
1,0,acc_0,ATM_CASH,-80.00,2022-03-25,ATM_CASH
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,-18.42,2022-09-26,FOOD_AND_BEVERAGES
3,0,acc_0,LOAN,-634.00,2023-01-10,LOAN
4,0,acc_0,Buffalo Wild Wings,-26.47,2022-09-12,FOOD_AND_BEVERAGES
...,...,...,...,...,...,...
2597483,5941,acc_9524,ATM_CASH,-8.42,2023-01-25,ATM_CASH
2597484,5941,acc_9524,ATM_CASH,-2.06,2023-01-25,ATM_CASH
2597485,5941,acc_9524,ATM_CASH,-262.88,2023-01-25,ATM_CASH
2597486,5941,acc_9524,ATM_CASH,-10.00,2023-01-25,ATM_CASH
2597487,5941,acc_9524,UNCATEGORIZED,-35.13,2023-01-25,UNCATEGORIZED

In [22]:
Cash_Flows = pd.concat([Outflows, Inflows])

In [29]:
testing = Cash_Flows.set_index("prism_consumer_id")

In [33]:
train, test = train_test_split(testing, test_size=0.25)

In [34]:
test

,prism_account_id,memo,amount,posted_date,category
prism_consumer_id,,,,,
2766,acc_6349,SELF_TRANSFER,-0.47,2022-09-04,SELF_TRANSFER
5593,acc_9176,ENTERTAINMENT,-73.17,2022-12-12,ENTERTAINMENT
3422,acc_7005,SELF_TRANSFER,80.00,2023-02-03,SELF_TRANSFER
892,acc_2572,ATM_CASH,-62.00,2021-04-29,ATM_CASH
1043,acc_2949,Withdrawal Debit Card / AZ GAME & FISH DEPT AZ...,-26.00,2021-06-08,GENERAL_MERCHANDISE
...,...,...,...,...,...
4546,acc_8129,EXTERNAL_TRANSFER,-100.00,2022-06-15,EXTERNAL_TRANSFER
1815,acc_5024,AUTOMOTIVE,-102.18,2021-09-30,AUTOMOTIVE
1048,acc_2965,Debit Purchase -visa Card XXXXflat Branch Pub,-20.19,2022-07-25,FOOD_AND_BEVERAGES
854,acc_2463,Amazon,-66.60,2021-07-30,GENERAL_MERCHANDISE
2115,acc_5698,EXTERNAL_TRANSFER,165.00,2022-11-29,EXTERNAL_TRANSFER