In [2]:
import pandas as pd
Inflows = pd.read_parquet("/uss/hdsi-prismdata/q1-ucsd-inflows.pqt")
Outflows = pd.read_parquet("/uss/hdsi-prismdata/q1-ucsd-outflows.pqt")

FileNotFoundError: [Errno 2] No such file or directory: '/uss/hdsi-prismdata/q1-ucsd-inflows.pqt'

In [3]:
import pandas as pd
Inflows = pd.read_parquet("q1-ucsd-inflows.parquet")
Outflows = pd.read_parquet('q1-ucsd-outflows.parquet')

In [4]:
from sklearn.model_selection import train_test_split

In [4]:
Outflows

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,LOAN,900.60,2022-07-05,LOAN
1,0,acc_0,ATM_CASH,80.00,2022-03-25,ATM_CASH
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,18.42,2022-09-26,FOOD_AND_BEVERAGES
3,0,acc_0,LOAN,634.00,2023-01-10,LOAN
4,0,acc_0,Buffalo Wild Wings,26.47,2022-09-12,FOOD_AND_BEVERAGES
...,...,...,...,...,...,...
2597483,5941,acc_9524,ATM_CASH,8.42,2023-01-25,ATM_CASH
2597484,5941,acc_9524,ATM_CASH,2.06,2023-01-25,ATM_CASH
2597485,5941,acc_9524,ATM_CASH,262.88,2023-01-25,ATM_CASH
2597486,5941,acc_9524,ATM_CASH,10.00,2023-01-25,ATM_CASH
2597487,5941,acc_9524,UNCATEGORIZED,35.13,2023-01-25,UNCATEGORIZED

In [5]:
cat = list(Outflows["category"].value_counts().index)
to_see = Outflows[["category", "memo"]].value_counts()
output = {}
for i in cat:
    output[i] = list(to_see[i].index)

In [6]:
cat[0]

'GENERAL_MERCHANDISE'

In [7]:
Outflows['memo'].shape[0]

2597488

In [8]:
Outflows[Outflows['memo'] == Outflows['category']]['memo'].shape[0]

1291036

In [17]:

vectorizer.get_feature_names_out()
vectorizer3 = CountVectorizer(analyzer='word', ngram_range=(6,6))
X3 = vectorizer3.fit_transform(corpus)
vectorizer3.get_feature_names_out()

array(['00 00 amazon com 1f7o13ie0 amzn',
       '00 00 amazon com 1k7wg9g90 amzn',
       '00 00 amazon com 1m1d56n51 amzn', ..., 'zzoo inc xxx xxx xxxx ca',
       'zzw6 co helppay ca sxxxxxxxxxxxxxxx card',
       'zzxxxxk amzn com bill wa 07'], dtype=object)

In [51]:
Diff = Outflows[Outflows['memo'] != Outflows['category']]['memo']
from sklearn.feature_extraction.text import CountVectorizer
corpus = Diff.to_list()
vectorizer = CountVectorizer(ngram_range=(4,5), min_df=10)
X = vectorizer.fit_transform(corpus)

term_counts = X.sum(axis=0)
frequencies = [(term_counts[0, idx], term) for term, idx in vectorizer.vocabulary_.items()]
frequencies.sort(reverse = True)

In [58]:
frequencies

[(53200, 'ca sxxxxxxxxxxxxxxx card xxxx'),
 (31375, 'visa check card xxxx'),
 (31375, 'pos debit visa check card'),
 (31375, 'pos debit visa check'),
 (31375, 'debit visa check card xxxx'),
 (31375, 'debit visa check card'),
 (26632, 'xxx xxx xxxx ca'),
 (25532, 'amzn com bill wa'),
 (17616, 'recurring payment authorized on'),
 (15316, 'wa sxxxxxxxxxxxxxxx card xxxx'),
 (15007, 'com bill xxx xxx xxxx'),
 (15007, 'com bill xxx xxx'),
 (15007, 'bill xxx xxx xxxx'),
 (15007, 'apple com bill xxx xxx'),
 (15007, 'apple com bill xxx'),
 (14453, 'purchase authorized on 10'),
 (14340, 'purchase authorized on 12'),
 (13896, 'purchase authorized on 08'),
 (13823, 'purchase authorized on 09'),
 (13734, 'purchase authorized on 07'),
 (13642, 'bill xxx xxx xxxx ca'),
 (13528, 'purchase authorized on 03'),
 (13388, 'purchase authorized on 04'),
 (13209, 'purchase authorized on 05'),
 (13190, 'purchase authorized on 11'),
 (13147, 'fl sxxxxxxxxxxxxxxx card xxxx'),
 (12787, 'purchase authorized on 06'),
 (12725, 'purchase authorized on 01'),
 (11674, 'purchase authorized on 02'),
 (11380, 'apple com bill ca'),
 (11166, 'com bill wa sxxxxxxxxxxxxxxx card'),
 (11166, 'com bill wa sxxxxxxxxxxxxxxx'),
 (11166, 'bill wa sxxxxxxxxxxxxxxx card xxxx'),
 (11166, 'bill wa sxxxxxxxxxxxxxxx card'),
 (11166, 'amzn com bill wa sxxxxxxxxxxxxxxx'),
 (10723, 'xxxx debit card purchase'),
 (9948, 'xxxx ca sxxxxxxxxxxxxxxx card xxxx'),
 (9948, 'xxxx ca sxxxxxxxxxxxxxxx card'),
 (9912, 'xxx xxxx ca sxxxxxxxxxxxxxxx card'),
 (9912, 'xxx xxxx ca sxxxxxxxxxxxxxxx'),
 (9912, 'xxx xxx xxxx ca sxxxxxxxxxxxxxxx'),
 (9718, 'point of sale withdrawal'),
 (9445, 'tx sxxxxxxxxxxxxxxx card xxxx'),
 (9352, 'xxxx apple com bill'),
 (7681, 'xxxxxxxxxx ca sxxxxxxxxxxxxxxx card xxxx'),
 (7681, 'xxxxxxxxxx ca sxxxxxxxxxxxxxxx card'),
 (7206, 'ga sxxxxxxxxxxxxxxx card xxxx'),
 (7097, 'amzn com billwa xxxxxxxxxxxxxxxxxxxxxxx'),
 (6288, 'help uber com ca'),
 (5638, '365 market 888 432'),
 (5037, 'on xxxxxx from card'),
 (4875, 'xxx xxx xxxx wa'),
 (4746, 'debit purchase visa card'),
 (4707, 'xxx xxxx ca xxxxxxxxxxxxxxxxxxxxxxx'),
 (4707, 'xxx xxx xxxx ca xxxxxxxxxxxxxxxxxxxxxxx'),
 (4693, 'uber trip help uber'),
 (4424, 'fl pxxxxxxxxxxxxxxx card xxxx'),
 (4384, 'ca pxxxxxxxxxxxxxxx card xxxx'),
 (4222, 'com ca sxxxxxxxxxxxxxxx card xxxx'),
 (4222, 'com ca sxxxxxxxxxxxxxxx card'),
 (4187, 'pos debit xxxx xxxx'),
 (4167, 'xxxx amzn mktp us'),
 (4105, 'checkcard xxxx apple com'),
 (4082, 'debit signature purchase from'),
 (4077, 'checkcard xxxx apple com bill'),
 (4065, 'pin pos pur cdxxxx'),
 (4065, 'dda pin pos pur cdxxxx'),
 (4065, 'dda pin pos pur'),
 (4055, 'xxxx apple com bill ca'),
 (4043, 'va sxxxxxxxxxxxxxxx card xxxx'),
 (3978, 'com bill ca xxxxxxxxxxxxxxxxxxxxxxx'),
 (3978, 'apple com bill ca xxxxxxxxxxxxxxxxxxxxxxx'),
 (3934, 'xxxxxx from card xxxxxxxxxxxxxxxx'),
 (3934, 'on xxxxxx from card xxxxxxxxxxxxxxxx'),
 (3844, 'target debit crd ach'),
 (3803, 'target debit crd ach tran'),
 (3803, 'debit crd ach tran'),
 (3789, 'wm superc wal mart'),
 (3755, 'xxxx apple com bill xxx'),
 (3745, 'purchase xxxx apple com'),
 (3737, 'purchase xxxx apple com bill'),
 (3721, 'tx pxxxxxxxxxxxxxxx card xxxx'),
 (3570, 'ny sxxxxxxxxxxxxxxx card xxxx'),
 (3519, 'wal mart super center'),
 (3495, 'point of sale debit'),
 (3491, 'com xxx xxx xxxx'),
 (3461, 'wm superc wal mart sup'),
 (3461, 'superc wal mart sup'),
 (3392, 'uber eats help uber'),
 (3343, 'visa dda pur xxxxxx'),
 (3340, 'xxxxxxxxxxxxxxxxxxxxxxx ckcd xxxx xxxxxxxxxxxxxxxx'),
 (3328, 'trip help uber com'),
 (3326, 'uber trip help uber com'),
 (3319, 'checkcard xxxx amazon com'),
 (3296, 'xxxxxxx ca sxxxxxxxxxxxxxxx card xxxx'),
 (3296, 'xxxxxxx ca sxxxxxxxxxxxxxxx card'),
 (3296, 'xxx xxxxxxx ca sxxxxxxxxxxxxxxx card'),
 (3296, 'xxx xxxxxxx ca sxxxxxxxxxxxxxxx'),
 (3293, 'bill ca sxxxxxxxxxxxxxxx card xxxx'),
 (3293, 'bill ca sxxxxxxxxxxxxxxx card'),
 (3287, 'com bill ca sxxxxxxxxxxxxxxx card'),
 (3287, 'com bill ca sxxxxxxxxxxxxxxx'),
 (3287, 'apple com bill ca sxxxxxxxxxxxxxxx'),
 (3274, 'debit card purchase at'),
 (3247, 'trip help uber com ca'),
 (3223, 'ca pxxxxxxxxxxxxxxxxx card xxxx'),
 (3152, '22 xxxxxxxxxxxxxxxxxxxxxxx xxxx card'),
 (3121, 'xxxx card 15 xxxx'),
 (3048, 'debit card purchase pin'),
 (3032, 'uber com ca sxxxxxxxxxxxxxxx card'),
 (3032, 'uber com ca sxxxxxxxxxxxxxxx'),
 (3016, 'jack in the box'),
 (3009, 'help uber com ca sxxxxxxxxxxxxxxx'),
 (2994, 'fl pxxxxxxxxxxxxxxxxx card xxxx'),
 (2889, 'az sxxxxxxxxxxxxxxx card xxxx'),
 (2855, 'uber eats help uber com'),
 (2855, 'eats help uber com'),
 (2824, 'eats help uber com ca'),
 (2823, 'tx pxxxxxxxxxxxxxxxxx card xxxx'),
 (2813, 'afterpay xxx xxxxxxx ca'),
 (2806, 'co sxxxxxxxxxxxxxxx card xxxx'),
 (2745, 'xxxx debit card purchase pin'),
 (2724, 'purchase merchant purchase terminal'),
 (2705, 'pa sxxxxxxxxxxxxxxx card xxxx'),
 (2628, 'xxxx ca xxxxxxxxxxxxxxxxxxxxxxx recurring'),
 (2628, 'xxx xxxx ca xxxxxxxxxxxxxxxxxxxxxxx recurring'),
 (2521, 'pos purchase merchant purchase terminal'),
 (2521, 'pos purchase merchant purchase'),
 (2521, 'am amzn com billwa'),
 (2520, 'purchase merchant purchase terminal xxxxxxxx'),
 (2520, 'merchant purchase terminal xxxxxxxx'),
 (2520, 'am amzn com billwa xxxxxxxxxxxxxxxxxxxxxxx'),
 (2505, 'afterpay 185 xxxxxxxx ca'),
 (2417, 'ca xxxx debit card'),
 (2409, 'com bill ca xxxxxxxxxxxxxxxxxxxxxxx recurring'),
 (2409, 'bill ca xxxxxxxxxxxxxxxxxxxxxxx recurring'),
 (2402, 'checkcard xxxx amzn mktp us'),
 (2402, 'checkcard xxxx amzn mktp'),
 (2378, 'xxxx xxx xxx xxxx'),
 (2363, 'ga pxxxxxxxxxxxxxxx card xxxx'),
 (2356, 'www doordash ca sxxxxxxxxxxxxxxx card'),
 (2356, 'www doordash ca sxxxxxxxxxxxxxxx'),
 (2356, 'doordash ca sxxxxxxxxxxxxxxx card xxxx'),
 (2356, 'doordash ca sxxxxxxxxxxxxxxx card'),
 (2293, 'nj sxxxxxxxxxxxxxxx card xxxx'),
 (2277, 'card 15 xxxx mcc'),
 (2259, 'paypal inst xfer xxxxxx'),
 (2163, 'card 15 xxxx mcc xxxx'),
 (2163, '15 xxxx mcc xxxx'),
 (2148, 'xxx xxx xxxx tx'),
 (2136, 'xxx xxx xxxx fl'),
 (2106, 'nc sxxxxxxxxxxxxxxx card xxxx'),
 (2101, 'ga xxxx debit card purchase'),
 (2101, 'ga xxxx debit card'),
 (2072, 'pos purchase non pin'),
 (2053, 'mn sxxxxxxxxxxxxxxx card xxxx'),
 (2034, 'xxx xxx xxxx ar'),
 (1978, 'co id xxxxxxxxxx web'),
 (1974, 'xxxxxxxxxxxxxxxxxxxxxxx xxxx card xxxx'),
 (1887, 'cdxxxx tulsa ok xxxxxxxxxxxx'),
 (1839, 'debit card purchase xxxxxxxxx'),
 (1802, 'point of sale debit l340'),
 (1802, 'of sale debit l340'),
 (1792, 'pur cdxxxx tulsa ok'),
 (1792, 'pos pur cdxxxx tulsa ok'),
 (1792, 'pos pur cdxxxx tulsa'),
 (1792, 'pin pos pur cdxxxx tulsa'),
 (1790, 'pur cdxxxx tulsa ok xxxxxxxxxxxx'),
 (1704, 'sc sxxxxxxxxxxxxxxx card xxxx'),
 (1669, 'visa check card xxxx cash'),
 (1669, 'check card xxxx cash'),
 (1660, 'check card xxxx cash app'),
 (1660, 'card xxxx cash app'),
 (1655, 'sale debit l340 date'),
 (1655, 'of sale debit l340 date'),
 (1639, 'amazon com seattle wa'),
 (1631, 'checkcard xxxx amzn digital'),
 (1592, 'helppay ca sxxxxxxxxxxxxxxx card xxxx'),
 (1592, 'helppay ca sxxxxxxxxxxxxxxx card'),
 (1592, 'co helppay ca sxxxxxxxxxxxxxxx card'),
 (1592, 'co helppay ca sxxxxxxxxxxxxxxx'),
 (1561, 'xxxxx debit card purchase'),
 (1549, 'recurring payment authorized on 03'),
 (1549, 'payment authorized on 03'),
 (1546, 'xxxx wa sxxxxxxxxxxxxxxx card xxxx'),
 (1546, 'xxxx wa sxxxxxxxxxxxxxxx card'),
 (1546, 'xxx xxxx wa sxxxxxxxxxxxxxxx card'),
 (1546, 'xxx xxxx wa sxxxxxxxxxxxxxxx'),
 (1546, 'xxx xxx xxxx wa sxxxxxxxxxxxxxxx'),
 (1527, 'recurring payment authorized on 05'),
 (1527, 'payment authorized on 05'),
 (1518, 'ga pxxxxxxxxxxxxxxxxx card xxxx'),
 (1511, 'recurring payment authorized on 11'),
 (1511, 'payment authorized on 11'),
 (1510, 'purchase intl authorized on'),
 (1509, 'xxx xxx xxxx mn'),
 (1509, 'recurring payment authorized on 10'),
 (1509, 'payment authorized on 10'),
 (1502, 'recurring payment authorized on 12'),
 (1502, 'payment authorized on 12'),
 (1497, 'signature purchase from xxxxxxxxxxxx'),
 (1497, 'debit signature purchase from xxxxxxxxxxxx'),
 (1486, 'recurring payment authorized on 01'),
 (1486, 'payment authorized on 01'),
 (1484, 'xxxxxxxxxxxxxxxxxxxxxxx xxxx card 15 xxxx'),
 (1484, 'xxxxxxxxxxxxxxxxxxxxxxx xxxx card 15'),
 (1483, 'mi sxxxxxxxxxxxxxxx card xxxx'),
 (1474, 'va xxxx debit card purchase'),
 (1474, 'va xxxx debit card'),
 (1473, 'recurring payment authorized on 09'),
 (1473, 'payment authorized on 09'),
 (1459, 'recurring payment authorized on 07'),
 (1459, 'payment authorized on 07'),
 (1444, 'withdrawal debit card debit'),
 (1435, 'recurring payment authorized on 08'),
 (1435, 'recurring payment authorized on 04'),
 (1435, 'payment authorized on 08'),
 (1435, 'payment authorized on 04'),
 (1433, '22 xxxxxxxxxxxxxxxxxxxxxxx xxxx card xxxx'),
 (1432, 'richmond va sxxxxxxxxxxxxxxx card xxxx'),
 (1432, 'richmond va sxxxxxxxxxxxxxxx card'),
 (1420, 'purchase with cash back'),
 (1414, 'signature purchase from xxxxxxxxxxxxxxx'),
 (1414, 'debit signature purchase from xxxxxxxxxxxxxxx'),
 (1413, 'debit pin purchase from'),
 (1393, 'recurring payment authorized on 02'),
 (1393, 'payment authorized on 02'),
 (1389, 'com bill wa xxxx'),
 (1389, 'amzn com bill wa xxxx'),
 (1375, 'xxxxx xxx xxx xxxx'),
 (1351, 'market xxx xxx xxxx'),
 (1348, 'md sxxxxxxxxxxxxxxx card xxxx'),
 (1342, '365 market xxx xxx xxxx'),
 (1342, '365 market xxx xxx'),
 (1337, 'recurring payment authorized on 06'),
 (1337, 'payment authorized on 06'),
 (1336, 'the home depot xxxx'),
 (1329, '22 12 00 am'),
 (1303, 'card ending in xxxx'),
 (1291, 'xxxx card 20 xxxx'),
 (1286, 'san diego ca sxxxxxxxxxxxxxxx card'),
 (1286, 'san diego ca sxxxxxxxxxxxxxxx'),
 (1286, 'diego ca sxxxxxxxxxxxxxxx card xxxx'),
 (1286, 'diego ca sxxxxxxxxxxxxxxx card'),
 (1285, 'dollar general dg xxxxx'),
 (1284, 'card 16 xxxx mcc xxxx'),
 (1284, 'card 16 xxxx mcc'),
 (1284, '16 xxxx mcc xxxx'),
 (1268, 'xxx xxx xxxx ny'),
 (1262, 'uber trip xxxxxxxxxx ca'),
 (1257, 'uber trip help uber comca'),
 (1257, 'trip help uber comca'),
 (1251, 'xxxx uber trip help'),
 (1238, 'xxxx card 16 xxxx'),
 (1236, 'xxx xxx xxxx nc'),
 (1236, 'ca on xxxxxx from card'),
 (1236, 'ca on xxxxxx from'),
 (1232, 'market 888 432 329'),
 (1232, '365 market 888 432 329'),
 (1230, 'oh on xxxxxx from card'),
 (1230, 'oh on xxxxxx from'),
 (1229, 'xxxx uber trip help uber'),
 (1222, 'tasha mcmurray pos transaction'),
 (1217, 'ca us card purchase'),
 (1210, 'troy mi sxxxxxxxxxxxxxxx card xxxx'),
 (1210, 'troy mi sxxxxxxxxxxxxxxx card'),
 (1204, 'ia sxxxxxxxxxxxxxxx card xxxx'),
 (1201, 'afterpay xxx xxxxxxx ca sxxxxxxxxxxxxxxx'),
 (1198, 'xxxxxx apple com bill'),
 (1191, 'visa xxxx lowes xxxxx'),
 (1185, '21 12 00 am'),
 (1177, 'wa xxxx debit card'),
 (1170, 'target com xxx xxx xxxx'),
 (1170, 'target com xxx xxx'),
 (1169, 'visa check card xxxx apple'),
 (1169, 'check card xxxx apple'),
 (1168, 'xxx xxxx ca date'),
 (1168, 'xxx xxx xxxx ca date'),
 (1163, 'pp apple com bill'),
 (1161, 'xxx xxxx wa xxxxxxxxxxxxxxxxxxxxxxx'),
 (1161, 'xxx xxx xxxx wa xxxxxxxxxxxxxxxxxxxxxxx'),
 (1157, 'co id xxxxxxxxxx ppd'),
 (1151, 'nv sxxxxxxxxxxxxxxx card xxxx'),
 (1150, 'xxx xxxxxxx ca xxxxxxxxxxxxxxxxxxxxxxx'),
 (1149, 'purchase apple com bill'),
 (1145, 'xxx xxx xxxx ga'),
 (1141, 'ca xxxx debit card purchase'),
 (1138, 'withdrawal debit card debit purchase'),
 (1138, 'market 888 432 32'),
 (1138, 'debit card debit purchase'),
 (1138, 'apple cash 1infiniteloop ca'),
 (1138, '365 market 888 432 32'),
 (1132, 'starbucks 800 782 xxx xxx'),
 (1132, 'starbucks 800 782 xxx'),
 (1132, '800 782 xxx xxx xxxx'),
 (1132, '800 782 xxx xxx'),
 (1132, '782 xxx xxx xxxx'),
 (1130, 'houston tx sxxxxxxxxxxxxxxx card xxxx'),
 (1130, 'houston tx sxxxxxxxxxxxxxxx card'),
 (1127, 'xfer apple com bill'),
 (1127, 'inst xfer apple com bill'),
 (1127, 'inst xfer apple com'),
 (1126, '782 xxx xxx xxxx wa'),
 (1124, 'de sxxxxxxxxxxxxxxx card xxxx'),
 (1114, 'harrisonburg va xxxx debit card'),
 (1114, 'harrisonburg va xxxx debit'),
 (1111, 'market 888 432 329 troy'),
 (1111, '888 432 329 troy mi'),
 (1111, '888 432 329 troy'),
 (1111, '432 329 troy mi'),
 (1110, 'wa xxxx debit card purchase'),
 (1108, 'paypal inst xfer apple com'),
 (1108, 'paypal inst xfer apple'),
 (1104, 'ut sxxxxxxxxxxxxxxx card xxxx'),
 (1099, 'valley md sxxxxxxxxxxxxxxx card xxxx'),
 (1099, 'valley md sxxxxxxxxxxxxxxx card'),
 (1099, 'hunt valley md sxxxxxxxxxxxxxxx card'),
 (1099, 'hunt valley md sxxxxxxxxxxxxxxx'),
 (1096, 'miami fl sxxxxxxxxxxxxxxx card xxxx'),
 (1096, 'miami fl sxxxxxxxxxxxxxxx card'),
 (1096, 'check card xxxx apple com'),
 (1096, 'card xxxx apple com'),
 (1095, 'com xxx xxx xxxx mn'),
 (1095, 'card xxxx apple com bill'),
 (1093, 'springfield mo xxxxxxxx xxxxxxxxxx'),
 (1089, 'usconnect kinny springfield mo xxxxxxxx'),
 (1089, 'usconnect kinny springfield mo'),
 (1089, 'signature usconnect kinny springfield mo'),
 (1089, 'signature usconnect kinny springfield'),
 (1089, 'pos signature usconnect kinny springfield'),
 (1089, 'pos signature usconnect kinny'),
 (1089, 'kinny springfield mo xxxxxxxx xxxxxxxxxx'),
 (1089, 'kinny springfield mo xxxxxxxx'),
 (1086, 'debit crd ach tran xxxxxx'),
 (1086, 'crd ach tran xxxxxx'),
 (1080, 'xxx xxxx ca xxxx'),
 (1080, 'xxx xxx xxxx ca xxxx'),
 (1077, 'visa check card xxxx uber'),
 (1077, 'check card xxxx uber'),
 (1063, 'ar sxxxxxxxxxxxxxxx card xxxx'),
 (1062, 'debit card debit auth'),
 (1054, 'publix super mar xxxx'),
 (1053, 'xxxxxx withdrawal debit card debit'),
 (1053, 'xxxxxx withdrawal debit card'),
 (1049, 'crd ach tran xxxxxx xxxxxxxxxxxxxxx'),
 (1049, 'ach tran xxxxxx xxxxxxxxxxxxxxx'),
 (1047, 'withdrawal debit card check card'),
 (1047, 'withdrawal debit card check'),
 (1047, 'debit card check card'),
 (1036, 'visa check card xxxx amzn'),
 (1036, 'check card xxxx amzn'),
 (1035, 'xxxx card 15 xxxx mcc'),
 (1030, 'xxxx withdrawal debit card'),
 (1026, 'inc xxx xxx xxxx'),
 (1023, 'xxxx fl sxxxxxxxxxxxxxxx card xxxx'),
 (1023, 'xxxx fl sxxxxxxxxxxxxxxx card'),
 (1021, 'debit card recurring pymt'),
 (1018, 'bill wa xxxx debit card'),
 (1018, 'bill wa xxxx debit'),
 (1016, 'co pxxxxxxxxxxxxxxx card xxxx'),
 (1015, 'com bill wa xxxx debit'),
 (1012, 'xxx xxxx fl sxxxxxxxxxxxxxxx card'),
 (1012, 'xxx xxxx fl sxxxxxxxxxxxxxxx'),
 (1012, 'xxx xxx xxxx fl sxxxxxxxxxxxxxxx'),
 (1008, 'xxx xxxx troy mi'),
 (1008, 'xxx xxx xxxx troy mi'),
 (1008, 'xxx xxx xxxx troy'),
 (1008, 'market xxx xxx xxxx troy'),
 (1002, 'debit card debit auth xxxxxx'),
 (1002, 'card debit auth xxxxxx'),
 (997, 'xxxx debit card recurring pymt'),
 (997, 'xxxx debit card recurring'),
 (996, 'otha kimbrough pos transaction'),
 (989, 'check card xxxx amzn mktp'),
 (989, 'card xxxx amzn mktp us'),
 (989, 'card xxxx amzn mktp'),
 (988, 'purchase xxxx dd doordash'),
 (988, 'il sxxxxxxxxxxxxxxx card xxxx'),
 (976, 'xxxxxxxxxx xxxx card 15 xxxx'),
 (976, 'xxxxxxxxxx xxxx card 15'),
 (973, 'mobile purchase sign based'),
 (972, 'xxxxxxxxxxxxxxxxxxxxxxxcard xxxx withdrawal debit card'),
 (972, 'xxxxxxxxxxxxxxxxxxxxxxxcard xxxx withdrawal debit'),
 (972, 'apple com bill cupertino'),
 (966, 'visa check card xxxx amazon'),
 (966, 'check card xxxx amazon'),
 (964, 'nicole thompson pos transaction'),
 (962, 'check card xxxx uber trip'),
 (962, 'card xxxx uber trip'),
 (961, 'folsom ca sxxxxxxxxxxxxxxx card xxxx'),
 (961, 'folsom ca sxxxxxxxxxxxxxxx card'),
 (950, 'pos signature uber trip'),
 (946, '22 xxxxxxxxxx xxxx card'),
 (943, 'xxxxxxxx ca sxxxxxxxxxxxxxxx card xxxx'),
 (943, 'xxxxxxxx ca sxxxxxxxxxxxxxxx card'),
 (942, 'wal wal mart super'),
 (942, 'co id paypalsi77 web'),
 (942, 'apple cash sent mone'),
 (940, 'xxxx ar sxxxxxxxxxxxxxxx card xxxx'),
 (940, 'xxxx ar sxxxxxxxxxxxxxxx card'),
 (940, 'xxx xxxx ar sxxxxxxxxxxxxxxx card'),
 (940, 'xxx xxxx ar sxxxxxxxxxxxxxxx'),
 (940, 'xxx xxx xxxx ar sxxxxxxxxxxxxxxx'),
 (940, '21 xxxxxxxxxxxxxxxxxxxxxxx xxxx card'),
 (934, 'fl xxxx debit card'),
 (926, 'fl xxxx debit card purchase'),
 (925, 'signature uber trip help'),
 (925, 'pos signature uber trip help'),
 (924, 'paypal des inst xfer id'),
 (924, 'paypal des inst xfer'),
 (924, 'des inst xfer id'),
 (924, 'card xxxx uber trip help'),
 (921, 'ca xxxxxxxxxxxxxxxxxxxxxxx ckcd xxxx'),
 (920, 'ca xxxxxxxxxxxxxxxxxxxxxxx ckcd xxxx xxxxxxxxxxxxxxxx'),
 (915, 'signature uber trip help uber'),
 (915, 'item fee for activity of'),
 (915, 'item fee for activity'),
 (915, 'fee for activity of'),
 (901, 'phoenix az sxxxxxxxxxxxxxxx card xxxx'),
 (901, 'phoenix az sxxxxxxxxxxxxxxx card'),
 (901, 'new york ny xxxxxxxxxxxxxxxxxxxxxxx'),
 (900, 'com bill wa date'),
 (900, 'amzn com bill wa date'),
 (895, 'va pxxxxxxxxxxxxxxx card xxxx'),
 (894, 'xxxxx pos signature usconnect kinny'),
 (894, 'xxxxx pos signature usconnect'),
 (894, 'sonic drive in xxxx'),
 (890, 'xxxxxxxxxx ca us card'),
 (889, 'al sxxxxxxxxxxxxxxx card xxxx'),
 (888, 'tn sxxxxxxxxxxxxxxx card xxxx'),
 (880, '22 xxxxxx xxxx card'),
 (878, '21 xxxxxxxxxx xxxx card'),
 (873, 'apple com bill web'),
 (872, 'com bill web id paypalsi77'),
 (872, 'com bill web id'),
 (872, 'bill web id paypalsi77'),
 (872, 'apple com bill web id'),
 (871, '185 xxxxxxxx ca sxxxxxxxxxxxxxxx card'),
 (871, '185 xxxxxxxx ca sxxxxxxxxxxxxxxx'),
 (868, 'com xxx xxxxxxx de'),
 (867, 'com bill wa 10'),
 (867, 'amzn com bill wa 10'),
 (864, 'xxxxx pos signature uber'),
 (861, 'xxxx tx sxxxxxxxxxxxxxxx card xxxx'),
 (861, 'xxxx tx sxxxxxxxxxxxxxxx card'),
 (861, 'xfer apple com bill web'),
 (858, 'afterpay 185 xxxxxxxx ca sxxxxxxxxxxxxxxx'),
 (856, 'xxx xxxx tx sxxxxxxxxxxxxxxx card'),
 (856, 'xxx xxxx tx sxxxxxxxxxxxxxxx'),
 (856, 'xxx xxx xxxx tx sxxxxxxxxxxxxxxx'),
 (855, 'pa us card purchase'),
 (855, 'debit apple com bill'),
 (854, 'market 888 432 32 troy'),
 (854, '888 432 32 troy'),
 (853, 'com bill cupertino ca'),
 (853, 'apple com bill cupertino ca'),
 (852, '22 xxxxxxxxxxxxxxxxxxxxxxx xxxx card 15'),
 (851, '888 432 32 troy mi'),
 (851, '432 32 troy mi'),
 (850, 'xxxxx pos signature uber trip'),
 (848, 'raising cane chicken fingers'),
 (845, 'lowes xxxxx xxx xxx xxxx'),
 (845, 'lowes xxxxx xxx xxx'),
 (844, 'com bill wa 08'),
 (844, 'amzn com bill wa 08'),
 (843, 'xxxxxxxxxx ca us card purchase'),
 (843, 'xxxxx xxx xxx xxxx nc'),
 (840, 'crypto com xxx xxxxxxx'),
 (839, 'jayme kimbrough pos transaction'),
 (839, 'crypto com xxx xxxxxxx de'),
 (837, 'mgm betmgm cr db'),
 (836, 'dbt crd xxxx xxxxxxxx'),
 (812, 'myers fl sxxxxxxxxxxxxxxx card xxxx'),
 (812, 'myers fl sxxxxxxxxxxxxxxx card'),
 (808, 'xxx xxx xxxx ma'),
 (806, 'xxxx lowes xxxxx xxx xxx'),
 (806, 'xxxx lowes xxxxx xxx'),
 (805, 'atlanta ga sxxxxxxxxxxxxxxx card xxxx'),
 (805, 'atlanta ga sxxxxxxxxxxxxxxx card'),
 (804, 'merchant issued payment card'),
 (802, 'visa xxxx lowes xxxxx xxx'),
 (801, 'walmart com aa xxx xxx'),
 (801, 'walmart com aa xxx'),
 (801, 'com aa xxx xxx xxxx'),
 (801, 'com aa xxx xxx'),
 (801, 'aa xxx xxx xxxx'),
 (798, 'tn xxxx debit card'),
 (798, 'market work xxxxxxxxxx renton'),
 (796, 'canton ga sxxxxxxxxxxxxxxx card xxxx'),
 (796, 'canton ga sxxxxxxxxxxxxxxx card'),
 (792, 'houston tx pxxxxxxxxxxxxxxx card xxxx'),
 (792, 'houston tx pxxxxxxxxxxxxxxx card'),
 (791, 'xfer xxxxxx apple com bill'),
 (791, 'xfer xxxxxx apple com'),
 (791, 'tn xxxx debit card purchase'),
 (791, 'paypal inst xfer xxxxxx apple'),
 (791, 'inst xfer xxxxxx apple com'),
 (791, 'inst xfer xxxxxx apple'),
 (789, 'payment card target debit crd'),
 (789, 'payment card target debit'),
 (789, 'merchant issued payment card target'),
 (789, 'issued payment card target debit'),
 (789, 'issued payment card target'),
 (789, 'card target debit crd ach'),
 (789, 'card target debit crd'),
 (787, 'plano tx sxxxxxxxxxxxxxxx card xxxx'),
 (787, 'plano tx sxxxxxxxxxxxxxxx card'),
 (786, 'debit crd ach tran xxxxxxxxxxxxxxx'),
 (786, 'crd ach tran xxxxxxxxxxxxxxx'),
 (782, 'overdraft item fee for activity'),
 (782, 'overdraft item fee for'),
 (781, 'uber trip xxxxxxxxxx ca usa'),

In [110]:
matched

11                            TGI FRIDAYS XXXX STOW OH 12/31
17                            HARDEES XXXXXXX AKRON OH 05/29
18               MARKET DI XXXX State Cuyahoga Fall OH 04/06
33               LONGHORN STEAK XXXXX CUYAHOGA FALL OH 10/09
55                 GIANT-EAG XXXX Corpora Uniontown OH 09/28
                                 ...
2597457    DEBIT CARD WITHDRAWAL PURCHASEAmazon Prime*TI4...
2597462    POS WITHDRAWALAZ LOT QUIKTRIP XXXX XXXX E INDI...
2597465    POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS ...
2597468    WITHDRAWAL Salt River ProjeTYPE: ONLINE PMT CO...
2597476    POS WITHDRAWALFRYS-FOOD-DRG #1 435 S. E MESA A...
Name: memo, Length: 653578, dtype: object

In [111]:
unmatched

2              TST* Casa Del Rio - Exp Fairlawn OH 09/24
4                                     Buffalo Wild Wings
6                                        Oculus CA 04/16
7                            LOS GIRASOLES STOW OH 03/08
8                              BUZZIS LAUNDRY 1 OH 03/28
                               ...
2596634            DEBIT CARD KING TACO 30 BELLFLOWER CA
2596652        DEBIT CARD DLR NEW ORLEANS HOL ANAHEIM CA
2596653     DEBIT CARD ROUND TABLE PIZZA APPLE VALLEY CA
2596655         DEBIT CARD DLR RONTO ROASTERS ANAHEIM CA
2596683    RECURRING DEBIT CARD CLEO AI HTTPSWWW.MEET DE
Name: memo, Length: 652874, dtype: object

In [26]:
import re

pat = re.compile(
    r"purchase authorized on d{2}"
)

In [33]:
Diff = Outflows[Outflows['memo'] != Outflows['category']]['memo']
Diff = Diff.reset_index()
pat = re.compile(r'(?i)\bpurchase\s+authorized\s+on\s+\d{2}\b')
m = Diff['memo'].str.contains(pat, na=False)
matched = Diff[m]
unmatched = Diff[~m]

In [34]:
matched

           index                                               memo
327          646  PURCHASE AUTHORIZED ON 03/11 POKE POKU HENDERS...
328          651  PURCHASE AUTHORIZED ON 10/01 LIQUOR CITY HENDE...
331          660  PURCHASE AUTHORIZED ON 05/28 VANS #174 LAS VEG...
332          662  PURCHASE AUTHORIZED ON 01/23 MICHAEL KORS - LA...
333          663  PURCHASE AUTHORIZED ON 02/23 NAILS R US HENDER...
...          ...                                                ...
1300426  2586609  PURCHASE AUTHORIZED ON 02/05 ROVER.COM smarshX...
1300427  2586610  PURCHASE AUTHORIZED ON 02/05 PUBLIX #711 CANTO...
1300429  2586612  PURCHASE AUTHORIZED ON 02/05 DOS MARGARITAS CA...
1300430  2586614  PURCHASE AUTHORIZED ON 02/06 CHICK-FIL-A #XXXX...
1300431  2586615  PURCHASE AUTHORIZED ON 02/07 AMZN Mktp US*Y77S...

[160747 rows x 2 columns]

In [35]:
unmatched

           index                                               memo
0              2          TST* Casa Del Rio - Exp Fairlawn OH 09/24
1              4                                 Buffalo Wild Wings
2              6                                    Oculus CA 04/16
3              7                        LOS GIRASOLES STOW OH 03/08
4              8                          BUZZIS LAUNDRY 1 OH 03/28
...          ...                                                ...
1306447  2597457  DEBIT CARD WITHDRAWAL PURCHASEAmazon Prime*TI4...
1306448  2597462  POS WITHDRAWALAZ LOT QUIKTRIP XXXX XXXX E INDI...
1306449  2597465  POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS ...
1306450  2597468  WITHDRAWAL Salt River ProjeTYPE: ONLINE PMT CO...
1306451  2597476  POS WITHDRAWALFRYS-FOOD-DRG #1 435 S. E MESA A...

[1145705 rows x 2 columns]

In [59]:
import re
import pandas as pd
Inflows = pd.read_parquet("/uss/hdsi-prismdata/q1-ucsd-inflows.pqt")
Outflows = pd.read_parquet("/uss/hdsi-prismdata/q1-ucsd-outflows.pqt")
Diff = Outflows[Outflows['memo'] != Outflows['category']]['memo']
# Compile once for speed

NOISE_RULES = [
    # === 0) Normalize spaces first ===
    (re.compile(r"\u00A0"), " "),
    (re.compile(r"\s{2,}"), " "),

    # === 1) “Authorized / Recurring” headers ===
    (re.compile(r"\b(?:recurring\s+)?payment\s+authorized\s+on(?:\s+\d{2})?\b", re.I), " "),
    (re.compile(r"\bpurchase\s+authorized\s+on(?:\s+\d{2})?\b", re.I), " "),
    (re.compile(r"\bauthorized\s+on\s+\d{2}(?:\s+\d{2})?\b", re.I), " "),

    # === 2) Card & mask boilerplate (preserve 'pos' token itself) ===
    (re.compile(r"\b(?:visa|mastercard|amex|discover)\s+check\s+card\b", re.I), " "),
    (re.compile(r"\bcheck\s*card\b(?:\s*x+)?", re.I), " "),
    (re.compile(r"\bcard(?:\s+ending\s+in)?\s*x{4}\b", re.I), " "),
    (re.compile(r"\b(?:debit|credit)\s+card\s+(?:purchase|debit|auth(?:orization)?)\b", re.I), " "),
    (re.compile(r"\bpos\s+(?:purchase|withdrawal|debit)\b", re.I), " "),    # keeps 'pos' elsewhere
    (re.compile(r"\b(?:dda\s+)?pin\s+pos\s+pur\b", re.I), " "),
    (re.compile(r"\bcdx{4,}\b", re.I), " "),                                 # cdxxxx
    (re.compile(r"\b(?:x{2,}|x{2,}\b)", re.I), " "),                         # generic masks
    (re.compile(r"\b[sp]x{6,}\b", re.I), " "),                               # sxxxxxxxx / pxxxxxxxx

    # === 3) State + mask + “card xxxx” tails ===
    (re.compile(r"\b[a-z]{2}\s+[sp]?x{6,}\s+card\s+x{4}\b", re.I), " "),
    (re.compile(r"\b[a-z]{2}\s+[sp]?x{6,}\b", re.I), " "),

    # === 4) Dates/times like “MM”, “MM/DD(YY)”, tokenized times ===
    (re.compile(r"\b#?\d{2}[/-]\d{2}(?:[/-]\d{2,4})?\b"), " "),
    (re.compile(r"\b\d{1,2}\s+\d{2}\s+\d{2}\s*(?:am|pm)\b", re.I), " "),     # e.g., "21 12 00 am"
    (re.compile(r"\b\d{1,2}:\d{2}(?::\d{2})?\s*[ap]?\b", re.I), " "),        # "07:07p"

    # === 5) Domain/billing fluff (keep merchant word) ===
    # Collapse amazon/apple/google billing strings to the merchant only
    (re.compile(r"\b(?:amzn|amazon)\s+com\s+bill(?:\s+[a-z]{2})?\b", re.I), " amazon "),
    (re.compile(r"\bamazon(?:\.com)?\*?[a-z0-9-]*\b", re.I), " amazon "),
    (re.compile(r"\bapple\s+com\s+bill(?:\s+[a-z]{2})?\b", re.I), " apple "),
    (re.compile(r"\b(?:google|youtube)(?:\s*music|\s*play)?\b.*?\b(g\.?co|support\.google|helppay#)\b.*", re.I), " google "),
    (re.compile(r"\b(?:g\.?co/helppay#|support\.google(?:\.com)?|amzn\.com/bill|apple\.com/bill)\b", re.I), " "),

    # === 6) Uber / DoorDash help URLs (keep “uber”, “uber eats”, “doordash”) ===
    (re.compile(r"\b(?:trip\s+)?help\s+uber\s+com(?:\s*ca)?\b", re.I), " uber "),
    (re.compile(r"\buber\s+trip(?:\s+help\s+uber(?:\s+com)?)?\b", re.I), " uber "),
    (re.compile(r"\b(?:www\.)?doordash\s+ca\b.*", re.I), " doordash "),
    (re.compile(r"\bhttps?instacar[d]?\b.*", re.I), " instacart "),

    # === 7) Merchant-terminal boilerplate ===
    (re.compile(r"\bmerchant\s+purchase\s+terminal\b(?:\s+\w+)?", re.I), " "),
    (re.compile(r"\bpoint\s+of\s+sale\s+(?:withdrawal|debit)\b", re.I), " "),
    (re.compile(r"\bpayment\s+card\s+target\s+debit\s+crd(?:\s+ach(?:\s+tran)?)?\b", re.I), " "),
    (re.compile(r"\b(?:crd|ach)\s+tran(?:\s+ppd(?:\s+id)?)?\b.*", re.I), " "),
    (re.compile(r"\bco\s+id\s+\w+\s+(?:web|ppd)\b.*", re.I), " "),

    # === 8) “on xxxxxx from card …” tails ===
    (re.compile(r"\bon\s+x{6,}\s+from\s+card(?:\s+x{4})?\b", re.I), " "),
    (re.compile(r"\b(?:from\s+)?card\s+x{4}\b", re.I), " "),

    # === 9) Phone fragments & repeated hotline blocks (keep “starbucks/365 market” words) ===
    (re.compile(r"\b(?:\d{3}\s*){1,2}\d{3}\s*\d{3,4}\b"), " "),              # generic 800/888-style spans
    (re.compile(r"\b365\s+market\b(?:\s+\d{2,3}){2,3}", re.I), " 365 market "),
    (re.compile(r"\bstarbucks\b(?:\s+\d{2,3}){1,3}.*", re.I), " starbucks "),

    # === 10) Misc tails you listed ===
    (re.compile(r"\b(?:inst|paypal)\s+xfer\b.*", re.I), " "),                # “paypal inst xfer …”
    (re.compile(r"\b(?:xfer|web)\s+id\b.*", re.I), " "),
    (re.compile(r"\b(?:electronic|external)\s+withdrawal\b.*", re.I), " "),
    (re.compile(r"\bwithdrawal\s+debit\s+card\b(?:\s+debit)?", re.I), " "),
    (re.compile(r"\bo(?:f)?\s+sale\s+debit\s+l\d{3}\b.*", re.I), " "),       # “of sale debit l340 …”
    (re.compile(r"\b(?:item|overdraft)\s+fee\s+for\s+activity\b.*", re.I), " "),
    (re.compile(r"\b(?:genesis[-\s]*fs\s+card\s+payment|sears\s+bill\s+payment)\b", re.I), " "),
    (re.compile(r"\b(?:pp|paypal)\*apple\.?com/bill\b.*", re.I), " apple "),
    (re.compile(r"\b(?:afterpay|sezzle)\b.*", re.I), " afterpay "),
    (re.compile(r"\b(?:us|wa)\s+card\s+purchase\b", re.I), " "),
    (re.compile(r"\b(?:usa|us)\b$", re.I), " "),

    # === 11) State abbreviations ONLY when followed by mask/card tail (avoid removing city/merchant names) ===
    (re.compile(r"\b(?:al|ak|az|ar|ca|co|ct|dc|de|fl|ga|hi|ia|id|il|in|ks|ky|la|ma|md|me|mi|mn|mo|ms|mt|nc|nd|ne|nh|nj|nm|nv|ny|oh|ok|or|pa|ri|sc|sd|tn|tx|ut|va|vt|wa|wi|wv|wy)\s+sp?x{6,}\b", re.I), " "),
    
    # === 12) Tidy punctuation/spaces ===
    (re.compile(r"[|#%*_=;\\/]+"), " "),
    (re.compile(r"\s{2,}"), " "),
    (re.compile(r"^\s+|\s+$"), ""),
]

def clean_memo_series(s: pd.Series) -> pd.Series:
    out = s.astype(str)
    for pat, repl in RULES:
        out = out.str.replace(pat, repl, regex=True)
    # Lowercase & final collapse
    out = out.str.lower().str.replace(r"\s{2,}", " ", regex=True).str.strip()
    return out

hi = Diff.reset_index()
hi['memo_clean'] = clean_memo_series(hi['memo'])

In [60]:
hi

,index,memo,memo_clean
0,2,TST* Casa Del Rio - Exp Fairlawn OH 09/24,tst* casa del rio - exp fairlawn oh
1,4,Buffalo Wild Wings,buffalo wild wings
2,6,Oculus CA 04/16,oculus ca
3,7,LOS GIRASOLES STOW OH 03/08,los girasoles stow oh
4,8,BUZZIS LAUNDRY 1 OH 03/28,buzzis laundry 1 oh
...,...,...,...
1306447,2597457,DEBIT CARD WITHDRAWAL PURCHASEAmazon Prime*TI4...,debit card withdrawal purchaseamazon prime ti4...
1306448,2597462,POS WITHDRAWALAZ LOT QUIKTRIP XXXX XXXX E INDI...,pos withdrawalaz lot quiktrip e indian school ...
1306449,2597465,POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS ...,pos withdrawalwal-mart e mckellips rd mesa az ...
1306450,2597468,WITHDRAWAL Salt River ProjeTYPE: ONLINE PMT CO...,withdrawal salt river projetype: online pmt co...
1306451,2597476,POS WITHDRAWALFRYS-FOOD-DRG #1 435 S. E MESA A...,pos withdrawalfrys-food-drg #1 435 s. e mesa a...

In [28]:
k = set()
for i in GM:
    words = i.split(" ")
    for j in words:
        k.add(j)

In [2]:
Outflows['amount'] = -1 * Outflows['amount']

NameError: name 'Outflows' is not defined

In [4]:
Outflows

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,LOAN,-900.60,2022-07-05,LOAN
1,0,acc_0,ATM_CASH,-80.00,2022-03-25,ATM_CASH
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,-18.42,2022-09-26,FOOD_AND_BEVERAGES
3,0,acc_0,LOAN,-634.00,2023-01-10,LOAN
4,0,acc_0,Buffalo Wild Wings,-26.47,2022-09-12,FOOD_AND_BEVERAGES
...,...,...,...,...,...,...
2597483,5941,acc_9524,ATM_CASH,-8.42,2023-01-25,ATM_CASH
2597484,5941,acc_9524,ATM_CASH,-2.06,2023-01-25,ATM_CASH
2597485,5941,acc_9524,ATM_CASH,-262.88,2023-01-25,ATM_CASH
2597486,5941,acc_9524,ATM_CASH,-10.00,2023-01-25,ATM_CASH
2597487,5941,acc_9524,UNCATEGORIZED,-35.13,2023-01-25,UNCATEGORIZED

In [5]:
Cash_Flows = pd.concat([Outflows, Inflows])

In [6]:
testing = Cash_Flows.set_index("prism_consumer_id")

In [7]:
train, test = train_test_split(testing, test_size=0.25)

In [8]:
test

,prism_account_id,memo,amount,posted_date,category
prism_consumer_id,,,,,
3154,acc_6737,SELF_TRANSFER,65.00,2022-10-13,SELF_TRANSFER
323,acc_960,ESSENTIAL_SERVICES,-778.50,2022-04-01,ESSENTIAL_SERVICES
5377,acc_8960,Debit: PIN purchase from XXXXXT21 WALGREENS ST...,-22.03,2021-04-21,GENERAL_MERCHANDISE
854,acc_2463,POS Debit - Visa Check Card XXXX - AMAZON.COM*...,-32.06,2021-05-07,GENERAL_MERCHANDISE
5877,acc_9460,REFUND,139.97,2022-07-13,REFUND
...,...,...,...,...,...
4178,acc_7761,PAYPAL INST XFER XXXXXX APPLE.COM BILL DEENA S...,-549.96,2022-03-29,GENERAL_MERCHANDISE
1048,acc_2965,EXTERNAL_TRANSFER,-16.67,2021-09-07,EXTERNAL_TRANSFER
2156,acc_5739,Lowe's,-6.85,2022-11-23,GENERAL_MERCHANDISE
4976,acc_8559,EXTERNAL_TRANSFER,12.50,2022-09-13,EXTERNAL_TRANSFER
4037,acc_7620,DEBIT CARD PURCHASE FUZZYS TACO SHOP - 399 WAX...,-24.80,2022-01-10,FOOD_AND_BEVERAGES

In [9]:
ids = list(set(testing.index))

In [10]:
import pandas as pd

topN = (
    Outflows.groupby("category")["memo"]
    .value_counts()                          # counts per (category, memo)
    .groupby(level=0, group_keys=False)
    .head(15)                                # top 15 per category
    .rename("count")
    .reset_index()
)

# optional rank within each category
topN["rank"] = topN.groupby("category")["count"].rank("first", ascending=False).astype(int)
topN = topN.sort_values(["category", "rank"])

In [11]:
(Outflows[Outflows['category'] == 'UNCATEGORIZED'].shape[0]) / Outflows.shape[0]

0.04520097879181732

In [12]:
example = Outflows[Outflows['category'] == 'UNCATEGORIZED'].groupby('prism_account_id').count().sort_values(by = 'memo', ascending = False).head(1000)

In [13]:
example["prism_consumer_id"] /= (Outflows[Outflows['category'] == 'UNCATEGORIZED'].shape[0])

In [14]:
example

                  prism_consumer_id  memo  amount  posted_date  category
prism_account_id
acc_3499                   0.005928   696     696          696       696
acc_7806                   0.005110   600     600          600       600
acc_9332                   0.005093   598     598          598       598
acc_8960                   0.004403   517     517          517       517
acc_8709                   0.004225   496     496          496       496
...                             ...   ...     ...          ...       ...
acc_7611                   0.000298    35      35           35        35
acc_5325                   0.000298    35      35           35        35
acc_7867                   0.000298    35      35           35        35
acc_5852                   0.000298    35      35           35        35
acc_3842                   0.000298    35      35           35        35

[1000 rows x 5 columns]

In [15]:
in_cat = list(Inflows["category"].value_counts().index)
inside = Inflows[["category", "memo"]].value_counts()
output_inflow = {}
for i in in_cat:
    output_inflow[i] = list(inside[i].head(15).index)

In [16]:
output_inflow

{'EXTERNAL_TRANSFER': ['EXTERNAL_TRANSFER'],
 'SELF_TRANSFER': ['SELF_TRANSFER'],
 'DEPOSIT': ['DEPOSIT'],
 'MISCELLANEOUS': ['MISCELLANEOUS'],
 'PAYCHECK': ['PAYCHECK'],
 'PAYCHECK_PLACEHOLDER': ['PAYCHECK_PLACEHOLDER'],
 'REFUND': ['REFUND'],
 'INVESTMENT_INCOME': ['INVESTMENT_INCOME'],
 'SMALL_DOLLAR_ADVANCE': ['SMALL_DOLLAR_ADVANCE'],
 'OTHER_BENEFITS': ['OTHER_BENEFITS'],
 'TAX': ['TAX'],
 'LOAN': ['LOAN'],
 'UNEMPLOYMENT_BENEFITS': ['UNEMPLOYMENT_BENEFITS'],
 'INSURANCE': ['INSURANCE']}

In [17]:
testing.describe()

             amount
count  3.110603e+06
mean   6.883868e-03
std    2.672358e+03
min   -6.548532e+05
25%   -5.086000e+01
50%   -1.681000e+01
75%   -3.000000e+00
max    1.154966e+06

In [18]:
dates = Cash_Flows["posted_date"]

In [19]:
dates.reset_index().loc[0]["posted_date"]

datetime.date(2022, 7, 5)

In [20]:
daily = Cash_Flows.set_index("prism_consumer_id").sort_values(by = "posted_date")
daily['posted_date'] = pd.to_datetime(daily['posted_date'])

In [21]:
daily.loc[1603]

,prism_account_id,memo,amount,posted_date,category
prism_consumer_id,,,,,
1603,acc_4440,ACCOUNT_FEES,-14.00,2017-12-29,ACCOUNT_FEES
1603,acc_4443,ACCOUNT_FEES,-10.00,2017-12-29,ACCOUNT_FEES
1603,acc_4444,PAYCHECK_PLACEHOLDER,6481.66,2017-12-29,PAYCHECK_PLACEHOLDER
1603,acc_4444,ACCOUNT_FEES,-2.50,2018-01-02,ACCOUNT_FEES
1603,acc_4444,ATM_CASH,-302.50,2018-01-02,ATM_CASH
...,...,...,...,...,...
1603,acc_4441,CREDIT_CARD_PAYMENT,-7029.40,2022-06-21,CREDIT_CARD_PAYMENT
1603,acc_4445,EXTERNAL_TRANSFER,-20000.00,2022-06-21,EXTERNAL_TRANSFER
1603,acc_4441,CREDIT_CARD_PAYMENT,-6343.92,2022-06-21,CREDIT_CARD_PAYMENT
1603,acc_4441,PAYPAL INST XFER XXXXXX MICROSOFT XBOX LIESCHE...,-19.99,2022-06-21,GENERAL_MERCHANDISE
1603,acc_4441,SELF_TRANSFER,20000.00,2022-06-21,SELF_TRANSFER

In [ ]:
net_cash = {}
for i in list(daily.index):
    net_cash[i] = daily.loc[i].groupby(pd.Grouper(key='posted_date', freq='MS'))['amount'].sum().reset_index(name='amount')

In [ ]:
net_cash