In [20]:
import pandas as pd
Inflows = pd.read_parquet("/uss/hdsi-prismdata/q1-ucsd-inflows.pqt")
Outflows = pd.read_parquet("/uss/hdsi-prismdata/q1-ucsd-outflows.pqt")

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
Outflows

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,LOAN,900.60,2022-07-05,LOAN
1,0,acc_0,ATM_CASH,80.00,2022-03-25,ATM_CASH
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,18.42,2022-09-26,FOOD_AND_BEVERAGES
3,0,acc_0,LOAN,634.00,2023-01-10,LOAN
4,0,acc_0,Buffalo Wild Wings,26.47,2022-09-12,FOOD_AND_BEVERAGES
...,...,...,...,...,...,...
2597483,5941,acc_9524,ATM_CASH,8.42,2023-01-25,ATM_CASH
2597484,5941,acc_9524,ATM_CASH,2.06,2023-01-25,ATM_CASH
2597485,5941,acc_9524,ATM_CASH,262.88,2023-01-25,ATM_CASH
2597486,5941,acc_9524,ATM_CASH,10.00,2023-01-25,ATM_CASH
2597487,5941,acc_9524,UNCATEGORIZED,35.13,2023-01-25,UNCATEGORIZED

In [23]:
cat = list(Outflows["category"].value_counts().index)
to_see = Outflows[["category", "memo"]].value_counts()
output = {}
for i in cat:
    output[i] = list(to_see[i].index)

In [24]:
cat[0]

'GENERAL_MERCHANDISE'

In [33]:
Outflows['memo'].shape[0]

2597488

In [34]:
Outflows[Outflows['memo'] == Outflows['category']]['memo'].shape[0]

1291036

In [109]:
Diff = Outflows[Outflows['memo'] != Outflows['category']]['memo']
m = Diff.str.contains(r'(?:#)?X{3,}', na=False)
matched = Diff[m]
unmatched = Diff[~m]

In [110]:
matched

11                            TGI FRIDAYS XXXX STOW OH 12/31
17                            HARDEES XXXXXXX AKRON OH 05/29
18               MARKET DI XXXX State Cuyahoga Fall OH 04/06
33               LONGHORN STEAK XXXXX CUYAHOGA FALL OH 10/09
55                 GIANT-EAG XXXX Corpora Uniontown OH 09/28
                                 ...
2597457    DEBIT CARD WITHDRAWAL PURCHASEAmazon Prime*TI4...
2597462    POS WITHDRAWALAZ LOT QUIKTRIP XXXX XXXX E INDI...
2597465    POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS ...
2597468    WITHDRAWAL Salt River ProjeTYPE: ONLINE PMT CO...
2597476    POS WITHDRAWALFRYS-FOOD-DRG #1 435 S. E MESA A...
Name: memo, Length: 653578, dtype: object

In [111]:
unmatched

2              TST* Casa Del Rio - Exp Fairlawn OH 09/24
4                                     Buffalo Wild Wings
6                                        Oculus CA 04/16
7                            LOS GIRASOLES STOW OH 03/08
8                              BUZZIS LAUNDRY 1 OH 03/28
                               ...
2596634            DEBIT CARD KING TACO 30 BELLFLOWER CA
2596652        DEBIT CARD DLR NEW ORLEANS HOL ANAHEIM CA
2596653     DEBIT CARD ROUND TABLE PIZZA APPLE VALLEY CA
2596655         DEBIT CARD DLR RONTO ROASTERS ANAHEIM CA
2596683    RECURRING DEBIT CARD CLEO AI HTTPSWWW.MEET DE
Name: memo, Length: 652874, dtype: object

In [114]:
import re

pat = re.compile(
    r"X{3,}"
)

In [115]:
Diff = Diff.reset_index()

In [116]:
Diff

           index                                               memo
0              2          TST* Casa Del Rio - Exp Fairlawn OH 09/24
1              4                                 Buffalo Wild Wings
2              6                                    Oculus CA 04/16
3              7                        LOS GIRASOLES STOW OH 03/08
4              8                          BUZZIS LAUNDRY 1 OH 03/28
...          ...                                                ...
1306447  2597457  DEBIT CARD WITHDRAWAL PURCHASEAmazon Prime*TI4...
1306448  2597462  POS WITHDRAWALAZ LOT QUIKTRIP XXXX XXXX E INDI...
1306449  2597465  POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS ...
1306450  2597468  WITHDRAWAL Salt River ProjeTYPE: ONLINE PMT CO...
1306451  2597476  POS WITHDRAWALFRYS-FOOD-DRG #1 435 S. E MESA A...

[1306452 rows x 2 columns]

In [120]:
import re
import pandas as pd
Inflows = pd.read_parquet("/uss/hdsi-prismdata/q1-ucsd-inflows.pqt")
Outflows = pd.read_parquet("/uss/hdsi-prismdata/q1-ucsd-outflows.pqt")
Diff = Outflows[Outflows['memo'] != Outflows['category']]['memo']
# Compile once for speed
RULES = [
    # 0) Normalize whitespace & weird spaces first
    (re.compile(r"\u00A0"), " "),                                # non-breaking space
    (re.compile(r"\s{2,}"), " "),
    
    # 1) Remove mask tokens & generic IDs
    (re.compile(r"(?:#)?X{4,}", re.I), " "),                     # XXXX, #XXXX, XXXXXXXXX...
    (re.compile(r"\bRF#\w+\b", re.I), " "),
    (re.compile(r"\bMCC\b\s*\w+", re.I), " "),
    (re.compile(r"\bSEQ#?\s*\w+\b", re.I), " "),
    (re.compile(r"\bC#\**\s*\w+\b", re.I), " "),
    (re.compile(r"\bID:\s*\w+\b", re.I), " "),
    (re.compile(r"\bOrder Number\b.*?(?=\b[A-Z]|$)", re.I), " "),
    
    # 2) Remove phone numbers (real or masked)
    (re.compile(r"\b(?:\d{3}-\d{3}-\d{4}|XXX-XXX-XXXX)\b", re.I), " "),
    (re.compile(r"\b\d{3}-\d{4}\b"), " "),                       # 888-802-30 (truncated)
    
    # 3) Remove dates & times
    (re.compile(r"\b\d{2}[/-]\d{2}(?:[/-]\d{2,4})?\b"), " "),    # 03/25, 03/25/22, 03-25-22
    (re.compile(r"\b\d{1,2}:\d{2}(?::\d{2})?\s*[ap]?\b", re.I), " "),  # 12:03, 07:07p
    (re.compile(r"\bDATE\b\s*\d{2}[/-]\d{2}\b", re.I), " "),
    (re.compile(r"\(\d{2}/\d{2}/\d{2}.*?\)"), " "),              # parenthetical stamps
    
    # 4) Remove URLs/domains & billing tails
    (re.compile(r"\b(?:https?:\/\/)?[A-Za-z0-9.-]+\.(?:com|org|net|edu|io|co)\b(?:\/[^\s]*)?", re.I), " "),
    (re.compile(r"\b(?:AMZN\.COM\/BILL|AMZNAMZN\.COM\s*BILL|AMAZON\.COM\/BILL|APPLE\.COM\/BILL|G\.CO\/HELPPAY#|SUPPORT\.GOOGLE?)\b", re.I), " "),
    
    # 5) Remove banking boilerplate & transport words
    (re.compile(r"\b(?:PURCHASE|AUTHORIZED|RECURRING|PAYMENT|WITHDRAWAL|DEBIT|CREDIT|POS|CHECKCARD|DBT|CRD|PIN|SIG|CARD|NBR|TRANS(?:ACTION)?|EFF\.?|DATE|TIME|DES:|INDN:|WEB(?: ID)?:|CCD(?: ID)?:)\b", re.I), " "),
    (re.compile(r"\b(?:VISA|MASTERCARD|AMEX|DISC(?:OVER)?|DDA)\b", re.I), " "),
    (re.compile(r"\b(?:POS|PIN|MAC|MWBTGD|EXA|SIG|DDA|ACH)\b", re.I), " "),
    
    # 6) Canonicalize common merchants (keep signal)
    (re.compile(r"\bAMZN\s+MKTP\s+US\b", re.I), " amazon "),
    (re.compile(r"\bAMAZON(?:\.COM)?\b", re.I), " amazon "),
    (re.compile(r"\bAMZN\b", re.I), " amazon "),
    (re.compile(r"\bAmazon(?:\.com)?\*?[A-Z0-9-]*\b", re.I), " amazon "),
    (re.compile(r"\bAmazon\s+Prime\*?[A-Z0-9-]*\b", re.I), " amazon prime "),
    (re.compile(r"\bAPPLE(?:\.COM)?(?:\/BILL)?\b", re.I), " apple "),
    (re.compile(r"\bMicrosoft\b|\bMSBILL\.INFO\b", re.I), " microsoft "),
    (re.compile(r"\bGOOGLE\b|\bGoogle\s*Play\b|\bYouTube\b", re.I), " google "),
    (re.compile(r"\bCASH\s*APP\*?", re.I), " cash app "),
    (re.compile(r"\bPLAYSTATION(?:\s*NETWORK|NETWOR)?\b|\bSIE\b", re.I), " playstation "),
    (re.compile(r"\bEBAY\b|\beBay\b", re.I), " ebay "),
    (re.compile(r"\bAFTERPAY\b", re.I), " afterpay "),
    
    # 7) Toss order/line id styles that remain
    (re.compile(r"\bO\*\d{2}-X{5,}-\d{2,}\b", re.I), " "),
    (re.compile(r"\b[A-Z]{1,3}\d{2,4}\b(?=\s|$)"), " "),         # OK251, CA133, C718
    (re.compile(r"\b[0-9A-Z]{4,}\b(?= ?/ ?WA| ?/ ?US)", re.I), " "),
    
    # 8) Remove state abbreviations as stand-alone tokens (optional—comment if you want them)
    (re.compile(r"\b(AL|AK|AZ|AR|CA|CO|CT|DC|DE|FL|GA|HI|IA|ID|IL|IN|KS|KY|LA|MA|MD|ME|MI|MN|MO|MS|MT|NC|ND|NE|NH|NJ|NM|NV|NY|OH|OK|OR|PA|RI|SC|SD|TN|TX|UT|VA|VT|WA|WI|WV|WY)\b"), " "),
    
    # 9) Punctuation/space tidy
    (re.compile(r"[|#%*()_=+;,/\\]+"), " "),
    (re.compile(r"[-]{2,}"), " "),
    (re.compile(r"\s{2,}"), " "),
    (re.compile(r"^\s+|\s+$"), ""),                               # trim
]

def clean_memo_series(s: pd.Series) -> pd.Series:
    out = s.astype(str)
    for pat, repl in RULES:
        out = out.str.replace(pat, repl, regex=True)
    # Lowercase & final collapse
    out = out.str.lower().str.replace(r"\s{2,}", " ", regex=True).str.strip()
    return out

hi = Diff.reset_index()
hi['memo_clean'] = clean_memo_series(hi['memo'])

In [121]:
hi

,index,memo,memo_clean
0,2,TST* Casa Del Rio - Exp Fairlawn OH 09/24,tst casa del rio - exp fairlawn
1,4,Buffalo Wild Wings,buffalo wild wings
2,6,Oculus CA 04/16,oculus
3,7,LOS GIRASOLES STOW OH 03/08,los girasoles stow
4,8,BUZZIS LAUNDRY 1 OH 03/28,buzzis laundry 1
...,...,...,...
1306447,2597457,DEBIT CARD WITHDRAWAL PURCHASEAmazon Prime*TI4...,purchaseamazon prime ti40l27r3 purch 15 34
1306448,2597462,POS WITHDRAWALAZ LOT QUIKTRIP XXXX XXXX E INDI...,withdrawalaz lot quiktrip e indian school rd p...
1306449,2597465,POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS ...,withdrawalwal-mart e mckellips rd mesa 15 mcc
1306450,2597468,WITHDRAWAL Salt River ProjeTYPE: ONLINE PMT CO...,salt river projetype: online pmt :salt river p...
1306451,2597476,POS WITHDRAWALFRYS-FOOD-DRG #1 435 S. E MESA A...,withdrawalfrys-food-drg 1 435 s. e mesa 15 mcc

In [28]:
k = set()
for i in GM:
    words = i.split(" ")
    for j in words:
        k.add(j)

In [29]:
k

{'',
 '11/09/XXXX',
 'Amazon.com*YK11N0B',
 'XXXXXWX2YND6',
 'AMAZON.COM*1NXXXXZ70',
 '2CO.COM*slideupli',
 'Ganna',
 'LEROY',
 'SHOPS\xa0BUTTE',
 'DIGITAL*GV5T',
 'FAMI',
 'LZJ1ONJF',
 'PlaystationNetwork',
 'US*2G3BUXXXX',
 'US*RP2EF17S3',
 'Amazon.com*251OE72',
 '04:14:28',
 'AMAZON.COM*1Z73C5S',
 'LIBERTAS.ORG',
 'BILLINGTREE',
 'ATLANTICBROADBAND',
 'US*OP4GG5GI3',
 'DIGITAL*XXXXR7M60',
 'ALXXXXNPI',
 'Milford',
 'AMAZON.COM*W851S01A3',
 'TORIN',
 'DIGITAL*0T1WG8JQ3',
 'AMAZON.COM*P21C57E53',
 'MARLAND',
 'GRI',
 'C1ABXXXXXXXXXXX',
 'Amazon.com*1V9C01IR0',
 'AMAZON.COM*3O8FZ8UE3',
 'Gbeatz',
 '#283',
 '16:32:26)',
 'US*276H6',
 'EISENZIMMER',
 'AMAZON.COM*F20AC78P3',
 'US*1A7G',
 'AMAZON.COM*1O7X10MT2',
 '326',
 'Afterpay.com',
 "XXXXsam's",
 'AUTOBIDMASTER',
 'Amazon.com*XL3JJ62R3',
 'AMAZON.COM*1K9FD7IG0',
 'Z51RCXE1FQ0X',
 'XXXXAmazon.com*9K8',
 'AMAZON.COM*RA39D56L3',
 'AMAZON.COM*258KV47S0',
 'US*291SG',
 'AMAZON.COM*1V03I9IC0',
 'Y57HJ02S3',
 'AMZNFreeTime*2T3X98X82',
 '3/6',
 'O*04-XXXXX-43',
 'BAYTREE',
 '06-16CVS/PHARMACY',
 'US*255HO',
 'AMAZON.COM*148TL1OT1',
 'AMAZON.COM*1A6IF74G0',
 'HUCKBERRY',
 'Tips*PL5NN7',
 'Amazon.com*1F52N6T20',
 'US*H88KF7JD0',
 'Sok',
 'BUMPER',
 'Perfumes',
 'US*1I3TE',
 'NICHE',
 'CHILMARK',
 'Lanham-Seabro',
 'Digit*7Z8J7',
 'PRINCESS',
 'HTTPSSEATTLESWA',
 '020',
 'RPK',
 '05/14',
 'HOUR',
 'TLF*LIL',
 'Prime*T75CX',
 'Albuquerque',
 'US*1I4LP',
 'US*2E2B919K0',
 'Amazon.com*2C76G91A2',
 'MARKETPLACEKITCHENB',
 '00:40',
 '6C9WT6CC3',
 'COLE,',
 'Prime*1R8G57F',
 'US*8U1R15N',
 'STSAN',
 'US*HT5LJ4W',
 '05/16/XXXX',
 'GRACELAND',
 'PRIME*2L2XD89N2',
 'App*Jeffrey',
 'CR55S05W3',
 'Intelius',
 'PartySupply',
 'Amazon.com*HJ41H0N61',
 'Amazon.com*2G1HT8YZ1',
 'Amazon.com*1K46M69R0',
 'HI2NW7NU0',
 'Ballerina',
 'US*UR7JM6TQ3',
 'HUBER',
 'Digit*DU64N,',
 'Amazon.com*NI9C97V',
 'US*HT7E98U',
 'Prime*N67H',
 'US*HT6GC1LD0',
 'AMAZON.COM*NC1KW4XO3',
 'Prime*217TY',
 'ST-W6S9B5P2R6L7',
 'Prime*MH12L',
 'APP*RHONDA',
 'LANELINE',
 'AMAZON.COM*2D2FV0',
 'US*IZ8D7',
 'Ecommerce',
 'ACTEH',
 'Prime*169N2',
 'XXXXXXXXXXXXXXX001EL4PZ',
 'OUTLET.COM',
 'Prime*VV5OR',
 '13:27',
 'Amazon.com*1UXXXXUW1',
 'US*QE8ME',
 'SUNFLOWERDENTALGROUP',
 'SAGA',
 'US*134R06DR3',
 'Rmg*Regus',
 'DIGITAL*252AR',
 'US*G',
 'AMAZON.COM*149LE6HW2',
 'ETHIKA',
 'SOURDOUGH',
 'US*1L1KN66N2',
 'PIRATE',
 'TRULIFE',
 'US*0O2VZ7B',
 'LEGION',
 'Amazon.com*EJ0F47KL3',
 '12/10/20',
 'US*2C7XS5Q52',
 'INDN:MATTHEW',
 'AMAZON.COM*OM0',
 'US*2R827',
 'SIMPLSTOREUS.UT',
 'MILLEDG',
 'US*2P0IJ',
 'US*H02LJ92V3',
 'Unltd*HW6YP1EX1',
 'APP*ALYSE',
 'AMAZON.COM*0S4SR2ZG3',
 'Prime*SG7G48D',
 'Digital*283K0',
 'DIGIT*HT',
 'Amazon.com*HV5UU3SP1',
 'Digit*UA7QQ2W',
 'US*MZ90G',
 'TUR',
 'Leaky',
 'GO!',
 'Digit*144XW1ZI1',
 'ViaSat,',
 'Amazon.com*2G3HWXXXX',
 'PRIME*E84T3',
 'US*2K1TU0M',
 'AMAZON.COM*CF0UJ8L',
 'MCDON',
 'O*12-XXXXX-45',
 'SUB.NOOM.CO',
 'GPG*BEPICXXXXXXXXXX',
 'TORRINGTON',
 'US*2E54R4D72',
 'I96EVXML7',
 'US003G05IW',
 'Amazon.com*YO7KU3W',
 'XXXXtbe*bradchecksre877-519-XXXXil',
 'HERFF',
 'US*YX6HI6O',
 'AMAZON.COM*1V2MQ3V',
 'AMAZON.COM*KI3IA5Q43',
 'OH#XXXXXXXXXX',
 'IAT',
 '4E3PNP0UEQVA',
 'CO,',
 'Music*HZ2SE0',
 'Schofield',
 'BLN*TIPRANKS',
 'US*EI5EG5UD3',
 'MUSIC*1B2Q12Y71',
 '01/03/22',
 '600AM21O3',
 'Amazon.com*164OU2JO1',
 'AMAZON.COM*T25Q182T3',
 'S9B6OXI6',
 'AUDIBLE*8QXXXXT03',
 'US1M1FT4HC0',
 'YOXXXXXX3',
 'US*A03SIXXXX',
 '#397',
 'Amazon.com*E977L7KG3',
 'CARWASHPASSFEELSGREAT!',
 'App*Telesze',
 'AMZ*StockWiseAuto.co',
 'MERCURY*',
 'Us*Li9',
 'Christin',
 'N.W.',
 '(CAP',
 'BELLZI.COM',
 'AMAZON.COM*F842F8KJ3',
 'GRAVITY',
 'SPORTYPARTS',
 'CENTER',
 'US*XB0WX52E3',
 'OLIVER',
 '#5FWH5PSVQ7JC',
 'US*H05S2',
 'Amazon.com*9W8V471E3',
 'Amazon.com*MJ26P44C1',
 'Music*RT8VN2KF3',
 'HB3LV8H30',
 'Amazon.com*1KXXXXXW0',
 'Facebk',
 'ARTBYDEIRDRE',
 'App*Jen',
 'US*QN29',
 'CARBINOX',
 'MINNEAPOLIS',
 'MARIETTA',
 'US*C35DD5VD3',
 'ADVEN',
 'DIGITAL*1O34V4EF2',
 'ZEIDLERS',
 'Amazon.com*F09C62K53',
 'ANK',
 'Amazon.com*ZG75V8EP3',
 'AMAZON.COM*OK4LH05',
 'PurchDate:11-28-XXXX',
 'PINNNT',
 'GSUITE_yellowb',
 'CIGARS.COM',
 'AMAZON.COM*XM9U121',
 'SPORTS#',
 'BASICS',
 'ARIADESIGNER',
 'Amazon.com*L083G7C',
 'US*SC45F',
 'Audible*H81ER8HH0',
 'Digit*146l2',
 'AMAZON.COM9Q0C25JP3',
 'OSAGE',
 'AJXXXXXX3',
 'MUSIC*2L5ZW5WN0',
 'DIGITAL*1R6UDXXXX',
 'LDYUIPM7KAQJN0B',
 '04:49p',
 'Woodbury,',
 'SHELT',
 'Gray',
 '87FAXXXXXXXXXDB',
 'AMAZON.COM*YB7PA',
 'NEX',
 'WRANGLEBORO',
 'Amazon.com*HS7JAmzn.com/billW...',
 'US*2G2GS1FS0',
 '*MERCHANTS',
 '09-22',
 'OPENSKYCC.COM',
 'US*1L09H1OY1',
 'Steamgames.com',
 'Cflk60v7p2pkruf',
 '10-30-21',
 'US*135GZ6V82',
 'Tuscaloo',
 'Amazon.com*1M28N3GX1',
 'App*Wesley',
 'CHERYL',
 'APP*JORDEN',
 'XXXXAMAZON.COM*UF5',
 'PAYMENTSMD.CO',
 'LEVALLOIS',
 'Amazon.com*2C60M6C',
 'US*ZU84H8OO3',
 'AMAZON.COM*WG4EFXXXX',
 'App*Khalil',
 'LAA',
 'Digit*2P9Y02Y52',
 'Amazon.com*1F8SNXXXX',
 'PIXXXXXW3',
 '21:34',
 'US*T97BC',
 'UPS*1ZFXXXXXAXXXXX',
 '21:03:50)',
 'US*1H4OB59',
 'INVESTMEN-XXXXXX',
 'AMAZON.COM*8Q1XC57Y3',
 'US*VE763',
 'BLOOMI',
 'US*2X5CU',
 '#XXXXXXXXXXXX',
 '09-30',
 'www.Paywithfour.com,',
 'US*7O6WH6HX3',
 'BARUKAS.MYSHOCA',
 'Prime*4S1CA21',
 'SHQA',
 'Pr212-XXXXXXX',
 'APP*CHELSEA',
 'TBDK5HV5',
 'HT4VT6WM1',
 'Amazon.com*2M6YM94B3',
 'XXXX\xa006/02/22',
 '000SECURITY-FINANCE.COM',
 'Amazon.com*H89G53GG0',
 'APP*LEXI',
 '20:52',
 'Hopkins',
 'US*1B6F',
 'Unltd*YXXXX',
 'Amazon.com*H08AR09P1',
 '10:22',
 'AMAZON.COM*RZ6FQ3V',
 'US*HN71N3L',
 'Cro',
 'UNUSUAL',
 'AMAZON.COM*1A9IX59',
 '08-20-22',
 'NEMAHA',
 'DIBERVILLE',
 'Amazon.com*HT6BT47P1',
 '*4',
 'AMAZON.COM*1R9WZ3GI0',
 'FAI',
 'XXXXXXQW3',
 'XXXXVDXPKNZT',
 'APP*ARVIE',
 'DIGITAL*NB3R',
 'ODESSA',
 'DIGITAL*278BB02V0',
 'Morro',
 'AMAZON.COM*1W15Z8V',
 'LAX',
 'DAVISON',
 'Amazon.com*H85OH07S0',
 'Coral',
 'DIGITAL*2D7O',
 'US*H26RS7Z',
 'GILIBERTOS',
 'JJXXXXET3',
 'Blue',
 'APP*SARAH',
 'COCHRAN',
 'App*Leeha',
 'Amazon.com*XXXXXXT',
 'Wal-malakewood',
 'ORGANOPLEX',
 'INDN:Yesenia',
 'TNAWC.COM',
 'LINDON',
 'US*257VW',
 '00M7A301',
 'JUNKYARD',
 'APP*JONIAYA15',
 'Amazon.com*1H8RXXXXX',
 'PsychicGodd',
 'Digital*MV8C49VY1',
 '21:18:52)',
 'TIPS*1Q9KR9',
 '2X9DPWCM',
 'US*1H445',
 'AMICLUBWEAR',
 'FRNDLYTV',
 '#3MATTHEWS',
 '8:55',
 'PURCHASEAudible*178XRXXXX',
 'US*NY56E',
 '6W79G7TL3',
 'GRANTS',
 '*FUBAR',
 'HAMBURGER1',
 'BOWLIN',
 'Eg',
 'NATURE',
 'Jennys',
 'Prime*4G1AJ9OA3',
 'App*otha',
 'Prime*L69MW7MR3',
 'Summe',
 'Amazon.com*BR03',
 'Prime*TX7QA4E',
 'SIGNS',
 'BELLEVILL',
 'Cline',
 '#56PD88KG2O2R',
 'US*HW07U6H',
 'AMAZON.COM*BM8',
 'DIGITAL*KM7T1',
 'EDINBUR',
 'Prime*1AXXXXBQ1',
 'QKZFY3',
 'WIESER',
 'MADE',
 'O*08-XXXXX-06',
 'SE',
 'O*04-XXXXX-72',
 '17:20',
 'EXPE',
 'Lingerie',
 "Altar'd",
 '21:03:40)',
 'XXXXVPV0CO1T',
 '22:03:48)',
 'DESERVE,',
 'AMAZON.COM*U45CB63Q3',
 'Amazon.com*9A2YY5T',
 'DIGITAL*1X76',
 'AMAZON.COM*1A5XU2Q92',
 'Amazon.com*STXXXXX',
 '22:35:52)',
 'RETHINK',
 '07:08',
 'US*1H4XM1L50',
 'US*2X03U',
 'SR',
 '#XXXXXX\xa0AMAZON.COM*2G3E41GF1\xa0SEATTLE',
 '(08/25/22',
 'Jamar',
 'AMAZON.COM*OS3DS9F43',
 'MDJSH3LOS',
 '060',
 'COEUR',
 '02:21p',
 '09-06-21',
 'TELLICO',
 'US*2D51O8GW1',
 'Amazon.com*H56JMXXXX',
 '4OCEAN',
 'US*213ZF3M61',
 'CHOUTEAU',
 "KARSTEN'S",
 'AMAZON.COM*2E0AM',
 '#2ETJ5W2U890Z',
 'Kellyann',
 '06-07-22',
 'O*23-XXXXX-14',
 'SAHAR',
 '11:00',
 'AMAZON.COM*211',
 'US*1O5P43V',
 'Armenia',
 'DIKE',
 'APP*LAWN',
 'REFRESHED',
 '11:49p',
 '6semjorvi6u',
 'XXXXamazon.com*278zsamzn.com/bilwa',
 'VIAERO',
 'AMAZON.COM*6XXXXXXS3',
 'O*14-XXXXX-91',
 'Music*800ZJ01H',
 '@FASHION',
 'ALLAN',
 'ALENE',
 'Video*M82TV9HE3',
 'AG5N014V2',
 'Amazon.com*PD6RY8',
 'JUAR',
 'App*Kennedi',
 'ST-N5E5K3Q1L4N3',
 '*OM',
 'DEALS.TODAY.COM',
 'APP*JANET',
 '*Outplay',
 'DIGITAL*2G32R07T1',
 'ST-M7A8E7Q7G7Z8',
 'WOODSIDE',
 'XXXXcda',
 'Prime*IY4JA1LT3',
 'FLENTS',
 '23:18',
 'CAUFIE',
 'T-MART',
 'HAMPTONVA',
 'HTTPSDEMITASS',
 'US*ND65AXXXX',
 'G4TV',
 'Amazon.com*ON75C4WH3',
 '11-18-XXXX',
 'US*1F06P0N',
 'HTTPSCHECKOUT',
 'APP*MULAQUA',
 'PRIME*8EXXXXQH3',
 'SPARTANBURG',
 'DSKTOM7K',
 'COMMERCEGA',
 '2T3HF3T',
 'AMAZON.COM*IT2FH74',
 'Prime*1U7A',
 'XXXXXXA03',
 'MSUS',
 '*QotoQo',
 '04:10p',
 'AMAZON.COM*291ES9NY2',
 'US*QG9IY',
 'COHE',
 'TWINKLINGTREE',
 'US*1M0UO',
 'US*HB4W69E',
 '08-27-21',
 '645',
 'US*1Z1SL4E',
 'TIR',
 'US*VS2M52O93',
 "Claire's",
 'AMAZON.COM*XXXXXXQAMZN.COM/BILL',
 'HTTPSWWW.DENN',
 'AMAZON.COM*EP4Q01HL3',
 'JoseCA',
 '07-20USPS',
 'HTTPSREBECCAM',
 'Amazon.com*1A59U24B2',
 'Roll',
 'US*171H95I43',
 '10/05/22\xa0XXXXXXXXXXXX',
 'OPM-FAW.COM',
 'INSHOT',
 'Amazon.com*MF48W45',
 'Prime*4I45Q8C',
 'Music*ZE',
 'MayaMoreJew',
 'Lvl',
 '4AXXXXF5FBC84F4',
 'ERS',
 '08:12:12',
 'Conveniet',
 'TOMAH',
 "Sam'S",
 'AF*CAPSTONE',
 'US*H84QB9QN0',
 'Digit*UW6EX74F3',
 'Amazon.com*C70Q35ES3',
 'FlooSAN',
 'WIDINPORTLAND',
 'Prime*1I6O29I',
 'APP*KIJANA',
 '#077lake',
 'Crocs,',
 'Essential',
 'DISTILLERY',
 'Amazon.com*HD9SXXXXX',
 'AMAZON.COM1M9N',
 'WWW.LOVEAMIKA.COM',
 'US*HT42N2U',
 'US*JB175',
 'Digital*RF28X',
 '03:32p',
 'HIGHOCEAN',
 'AMAZON.COM*BI3EM13',
 'MUSKEGON',
 'ST-M3I8E4W2B3X5',
 'SIE\xa0PLAYSTATIONNET',
 'Amazon.com*DI05G2GW3',
 'AMAZON.COM*H23DE2Z62',
 'DIGITAL*9A3S',
 '*Y8H6R3F5R2',
 'AMZNFreeTime*2G3KR',
 '(XXXX-12-07)',
 'PATCHOGUE',
 'AMAZON.COM*PD7',
 'MUSIC*WIXXXXVJ3',
 'AMAZON.COM*RD3R92JP3',
 'CABI',
 'US*6O5TS9FP3',
 'Audible*6I9LU89S3',
 'cf7p5vgdgh772fg',
 'ARCHES',
 'Pixelberr',
 'O*26-XXXXX-96',
 'APP*ADAM',
 'Aaa',
 'Blizzard',
 'Colon',
 'US*144JK08',
 'AMAZON.COM*9Z54U',
 '6F03B3AB6AXXXXX',
 '02-09-21',
 'O*15-XXXXX-44',
 'US*1R80O',
 'Highland',
 'SI',
 'US*1R13Y7M',
 'Fink',
 'Amazon.com*HB7PH6V',
 'Jockey',
 'Filo',
 'App*Kendall',
 'CENT410-XXXXXXX',
 'AMAZON.COM*YQ5RX9T',
 'US*HI8L15K',
 'Prime*G44M3',
 'GIMKIT',
 'CARICAT',
 '#XXXXMQGZOWLD',
 'US*2P7TR',
 'Burke',
 'US*1Z1ZP',
 '02/16/23',
 'US*9D4IP',
 'CONTAINERCLOTH',
 'Ibi*Shoedazzle',
 '11-01-21',
 'NURX',
 'Amazon.com*1W0LF1KI0',
 'Ebony',
 'AMAZON.COM*GC3F42H',
 '63ca96e607cec2d55ceaa9c5/',
 'PREVENATIVE',
 'Vau',
 'Dall',
 'Q4EPYFP5F2',
 'US*XXXXV80O2',
 'Amazon.com*H766',
 'Gold/APPLE.COM/BILL',
 'Tips*2C35H9VX1',
 '*METRO',
 'AMAZON.COM*1A53K38C1AMAZO',
 'Persona',
 'AL9O018T8',
 'MACHINE',
 'US*HB7KK2VZ0',
 'AMAZON.COM*3L9WT',
 'TCPC8ZGO2',
 'AMAZON.COM*2C1LG5CU0',
 'AMAZON.COMU49YD',
 'VICTORIASSECRET.',
 '01:19:11)',
 'ID:A34BCXXXXDXXXXX',
 'AMAZON.COM*1W1HO4EL2',
 'ZIP',
 'Salon',
 'GRAH',
 'MERR',
 'DJZ5YRHZ',
 'AMAZON.COM*1M2CG3Y',
 'US*HB86E',
 'Gasm',
 'App*Paragon',
 'US*J42DH',
 '6semjspeiu2',
 'Digit*2G1GO',
 'Amazon.com*7H1B226F3',
 '09/18/22',
 'AMAZON.COM*HC9',
 'XL*A',
 'AMAZON.COM*1N04N3MC0',
 'Miracle',
 'DSXCG3WC',
 'App*Kph',
 'AMAZON.COM*2G80F03V0',
 'ZARA.COM',
 'Styled',
 'BILLYS',
 'ESPORTS',
 'Amazon.com*H725D4SZ0',
 'US*RY1GT',
 'US*0B1T446Y3',
 'AMAZON.COM*XXXXN3WW3',
 'PLAINE',
 'AMAZON.COM451',
 '06/18/23',
 'K-BROOKS',
 'BANN',
 'US*GY8PX6V',
 '*UPlay',
 'GPG*FarmasiusXXXXX',
 'US*1O9ID6Q20Amzn.com/bill',
 'AMAZON.COM*9L0XS4OL3',
 'REPRESENT',
 'WILLIAMSBURG',
 'Audible*6NXXXXLU3',
 'XXXX\xa009/06/22',
 '*FIVERR',
 'Httpsdellamod',
 'US*XXXXG4KM2',
 'TLG*EIDPRTXXXXXXXX',
 'DIGITAL*WV02I6A43',
 'AMAZON.COM*2P71D33',
 'O*07-XXXXX-94',
 'AMAZON.COM*1L68M2C61',
 'Amazon.com*RBXXXXJ53',
 '105.53',
 'US*1W1MUXXXXAmzn.com/billWA',
 'Amazon.com*XXXXI99',
 '12-06-21',
 '*Geocachi',
 'SEPHORA',
 'VAPESOURCING',
 'APP*ALIEN',
 'Audible*FE1NL1Q03',
 '03:26:10)',
 'Amazon.com*MU9GO00F0',
 'COURTHOUSE',
 '302',
 'Mnorth',
 '03-09-22',
 'CHECKPEOPLE.COM',
 '9/22/20',
 'HTTPSAMERICAN',
 'BQ1',
 'App*Marlon',
 'Amazon.com*PD5NP7W',
 'Prime*1Q44Z',
 'DAXTONEDWA',
 '173-XXXXXXXX',
 'WIU',
 'SALES-WEB',
 'service@zamag',
 'DIGIT*4L3EG',
 'AMAZON.COM*FE10M35Y3',
 'Amazon.com*206S36CU2',
 'TXXXXXXXXXXXXXXAWF6JVL',
 'AMAZON.COM*2D8IX8TF0',
 'AMAZON.COM*HJ8CR0TE2',
 '03/15',
 'US*G756N8H',
 'YouTubePremiu',
 'APP*LOVE',
 'REYNARD',
 'US*1A9',
 '/IL',
 'Collecti',
 'AMAZON.COM*2PXXXXBY1',
 'YW5L9L8S',
 'US*NA4YO6B63',
 'US*288IB',
 'Amazon.com*2G9S541A0',
 'App*Kelda',
 'RUTVIJ',
 'Us*149rk',
 'US*1I5ZK',
 '68NO',
 'DIGITAL*2L4WD7A20',
 'AMAZON.COM*2D2OM5QA0',
 'Amazon.com*0D5RF73',
 'Amazon.com*BJ8G760M3',
 'US*2R97O',
 'USHT6ZZ4',
 'Grunt',
 'APP*CLAYTON',
 'AMAZON.COM*1Z82L4H',
 'APP*LAMPKIN',
 '09/16',
 '*Humming',
 'APP*TACHINDRA',
 'Orem',
 'Athenas',
 'US*AX3US',
 'App*Yolanda',
 'APP*SHU',
 'AMAZON.COM0VXXXXXQ3',
 'MarthasMaki',
 'Prime*QR0CY',
 '02/13/22',
 'Prime*8S96G',
 'App*Darry',
 'MP3*2E8CZ5N',
 'APP*JIOVAHNNY',
 'US*7E18F2D73',
 'HAZA',
 'CLONE',
 'MHT',
 'Amazon.com*3C4ZI0JM3',
 'USWF87W7VK3',
 'US*1M0EO85Z0',
 'Nikecom',
 'Hardwa',
 'US*Z31IQ67',
 'AMAZON.COM*130KTXXXX',
 'CasualS718-XXXXXXX',
 '*EQUIALT',
 '#4RH92Y2UEI7S',
 'LOUISVI',
 'AMAZON.COM*1K2JJ85J2',
 'US*1M2TG',
 'US*PM8VV',
 'US*2M5B012E3',
 'Hear',
 'HEMPHILL',
 'VIDEO2P81',
 'AMAZON.COM*PVXXXXXY3',
 'AMAZON.COM*FW6EB20',
 'BOURBO',
 'Blac',
 'US*VTXXXXXXXAmzn.com/bill',
 'AMAZON.COM*LXXXXXOR3',
 'APP*JAMAIYA',
 'US*SV5MW24',
 'Audible*1OXXXXXV2',
 'AMAZON.COM*2S87B1VL2',
 'Prime*1O1VD8NC2',
 'Amazon.com*2P1EF1W',
 'ECS521-609-716',
 'Amazon.com*2P8DN2VG3',
 'NIEBLAS',
 'AMAZON.COM*217CO7YF0',
 'GIANNA',
 'Amazon.com*7WXXXXG',
 'AMAZON.COM*293XX5OE0',
 'US*X09B96F',
 'ModernCrowd',
 'O*22-XXXXX-89',
 'US*R53A0',
 'Kankakee',
 'CAMELLA',
 'ALISON',
 'AK2TXXXXV',
 '15:19:39',
 'ESCU',
 'AMAZON.COM*2Y1D62',
 'Madri',
 'AMAZON.COM*2E3BC6HG0AMAZO',
 'App*Only',
 'Amazon.com*783FJ4W',
 'G.co/helppay#',
 'REDBUBBLE.COMCA',
 'OSB',
 '23:08:21)',
 'AMAZON.COM*FY51S98N3',
 'SURETHIKINC',
 'AMAZON.COM*2E6B82',
 'Prime*2L7F',
 'Carnesville',
 'oriwiw',
 'R71',
 'AMAZON.COM*PK6VL3L93',
 'AMAZON.COM*2E6XE1XN0',
 'WOODSTOPORTLAND',
 'BUFADORA',
 'APP*SANDRA',
 'AMAZON.COM*CL3F25XZ3',
 'NYTIMES',
 'LOUISV',
 'AMAZON.COM*2P3W696B2',
 '04-05-21',
 'DEBS',
 'US*UD9XD',
 'NICOLETTOS',
 'NAUTICAL',
 'WAGARAW',
 'US*166UB3V',
 'FREDS',
 'COURSRA6VXI5HWN8PV',
 'FLOAT-VANCOUVER',
 '03-11-22',
 'Melville',
 'US*LG00E2UL3',
 'GOODS11',
 'Amazon.com*2T0J98KK2',
 'Henders',
 'Tangenan',
 '04-16',
 'US*255T',
 '*SOUTHERN',
 'Prop',
 '07/27/23',
 'Prime*DT2ZY73U3',
 'AUR',
 'AMAZON.COM*HI9',
 'HAIR,',
 'PREFERRED',
 'HTTPSWWW.REVA',
 'Amazon.com*KF58P5P',
 'ERMELO',
 'MW6IY2FTBIDDXB7',
 '22:29:40)',
 'AMAZON.COM*ZXXXXXQ53',
 'Deptford',
 'HTTPSNURX.COM',
 'LN0MY91PLX',
 'ID:8D775FXXXXXXXF9',
 'AMAZON.COM*PL9AS',
 'AMAZON.COM*HT2LH82Y0',
 'PRIME*TQ7PA1JV3',
 'Amazon.com*H08LH5IP0',
 'Portland',
 'WWW.THEATLANT',
 'CATHEDRAL',
 'RF#29CGK5C9QYN6',
 'CHANGING',
 'ODXXXXE03',
 'MARLENS',
 'MEMO=Amazon.com*HG63',
 'REDLINE360',
 'US*1L9JQ6A60',
 'XXXXXXXXFAMILY',
 'WALXXXXXXXXXX',
 'US*XXXXR',
 'APP*LIZBETH',
 'US*HI15C',
 '07/25/21',
 'Amazon.com*2Y8RXXXXX',
 'US*1M3J63A',
 'XXXX-XXXX',
 'ID:6semjr86qf5',
 'APP*CODY',
 'US*AK3D',
 'SHG4',
 'Prime*XXXXH58',
 '68H8M5',
 'X42',
 'Psi',
 'Music*1U4RB',
 'IMAGENOMIC',
 'AMAZON.COM*1W6CG8V',
 'DIGIT*2T3U079U3',
 'AMAZON.COM*I683V5J13',
 'BLANKA',
 'CUSTOMS',
 'MICROSOFT*ULTIM732',
 'AMAZON.COM*1V0D67YR1',
 'US*2C0FD99',
 'YSI*Autumn',
 '07:59',
 'Prenote',
 'MEMO=POS,',
 'DSSRY6IV',
 'Amazon.com*2P1C01QZ1',
 '13:23:29)',
 'MARTINE',
 'DIGITJJXXXX',
 '10/01/XXXX)',
 '**********XXXX',
 '14:24:22)',
 'US*NT71I5MB3',
 'MIRAHWAY',
 '12/01/XXXX',
 'APP*KWAME',
 'US*N71TQ',
 'ZHUOXING',
 'PP*FANATICS',
 'US*LU1QU1QY3',
 '*SAMSUNG',
 '09/09/21',
 'PALACIOS',
 'SPRINCO',
 'Supplmoreno',
 'US*253WV4T21',
 "OCTAVIO'S",
 'APP*SHANDRA',
 'Digit*7Y8SU8W',
 'US*TU0KL',
 'AMAZON.COM*O71IL87G3',
 'ID:18BFXXXXXF3A45F',
 'HTTPSADOREDSKCA',
 'Tips*XXXXP8RN',
 'Digit*143HS',
 'DSJSR3VE',
 'AMAZON.COM*2P1UM36H1',
 'SpringFLUS',
 'Amazon.com*1F8AI3JU1',
 'KOPARI',
 'US*S790K4T',
 'DIGIT*D271A7R63',
 'US*XE01F',
 'CAMINO',
 '(09/19/22',
 'JustFab',
 'OVIRA',
 'US*1R3F',
 'XXXX\xa011/18/20',
 'AUDIBLE*PJ0DC28J3',
 'Amazon.com*HT3ZL6Z',
 '03-12',
 'Amazon.com*250F98OV2',
 'Prime*2D8OF8J',
 'Plug',
 'AMAZON.COM*TY0CF1',
 'CLUEDUPP',
 'US*2P8L624V0',
 'INDN:Tim',
 'APP*LONDON',
 'TOLLBYMAIL\xa0XXX-XXX-XXXX',
 'AMAZON.COM*IS1RQ8TL3',
 'SANADERM',
 'AMAZON.COM*2D54N54C1',
 'FRANCISCOCA',
 '09/10/21',
 'App*Tristan',
 'VCAZS4BXX2',
 'Rob',
 'J3',
 'APP*JESSIC',
 'Southdale',
 ...}

In [2]:
Outflows['amount'] = -1 * Outflows['amount']

NameError: name 'Outflows' is not defined

In [4]:
Outflows

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,LOAN,-900.60,2022-07-05,LOAN
1,0,acc_0,ATM_CASH,-80.00,2022-03-25,ATM_CASH
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,-18.42,2022-09-26,FOOD_AND_BEVERAGES
3,0,acc_0,LOAN,-634.00,2023-01-10,LOAN
4,0,acc_0,Buffalo Wild Wings,-26.47,2022-09-12,FOOD_AND_BEVERAGES
...,...,...,...,...,...,...
2597483,5941,acc_9524,ATM_CASH,-8.42,2023-01-25,ATM_CASH
2597484,5941,acc_9524,ATM_CASH,-2.06,2023-01-25,ATM_CASH
2597485,5941,acc_9524,ATM_CASH,-262.88,2023-01-25,ATM_CASH
2597486,5941,acc_9524,ATM_CASH,-10.00,2023-01-25,ATM_CASH
2597487,5941,acc_9524,UNCATEGORIZED,-35.13,2023-01-25,UNCATEGORIZED

In [5]:
Cash_Flows = pd.concat([Outflows, Inflows])

In [6]:
testing = Cash_Flows.set_index("prism_consumer_id")

In [7]:
train, test = train_test_split(testing, test_size=0.25)

In [8]:
test

,prism_account_id,memo,amount,posted_date,category
prism_consumer_id,,,,,
3154,acc_6737,SELF_TRANSFER,65.00,2022-10-13,SELF_TRANSFER
323,acc_960,ESSENTIAL_SERVICES,-778.50,2022-04-01,ESSENTIAL_SERVICES
5377,acc_8960,Debit: PIN purchase from XXXXXT21 WALGREENS ST...,-22.03,2021-04-21,GENERAL_MERCHANDISE
854,acc_2463,POS Debit - Visa Check Card XXXX - AMAZON.COM*...,-32.06,2021-05-07,GENERAL_MERCHANDISE
5877,acc_9460,REFUND,139.97,2022-07-13,REFUND
...,...,...,...,...,...
4178,acc_7761,PAYPAL INST XFER XXXXXX APPLE.COM BILL DEENA S...,-549.96,2022-03-29,GENERAL_MERCHANDISE
1048,acc_2965,EXTERNAL_TRANSFER,-16.67,2021-09-07,EXTERNAL_TRANSFER
2156,acc_5739,Lowe's,-6.85,2022-11-23,GENERAL_MERCHANDISE
4976,acc_8559,EXTERNAL_TRANSFER,12.50,2022-09-13,EXTERNAL_TRANSFER
4037,acc_7620,DEBIT CARD PURCHASE FUZZYS TACO SHOP - 399 WAX...,-24.80,2022-01-10,FOOD_AND_BEVERAGES

In [9]:
ids = list(set(testing.index))

In [10]:
import pandas as pd

topN = (
    Outflows.groupby("category")["memo"]
    .value_counts()                          # counts per (category, memo)
    .groupby(level=0, group_keys=False)
    .head(15)                                # top 15 per category
    .rename("count")
    .reset_index()
)

# optional rank within each category
topN["rank"] = topN.groupby("category")["count"].rank("first", ascending=False).astype(int)
topN = topN.sort_values(["category", "rank"])

In [11]:
(Outflows[Outflows['category'] == 'UNCATEGORIZED'].shape[0]) / Outflows.shape[0]

0.04520097879181732

In [12]:
example = Outflows[Outflows['category'] == 'UNCATEGORIZED'].groupby('prism_account_id').count().sort_values(by = 'memo', ascending = False).head(1000)

In [13]:
example["prism_consumer_id"] /= (Outflows[Outflows['category'] == 'UNCATEGORIZED'].shape[0])

In [14]:
example

                  prism_consumer_id  memo  amount  posted_date  category
prism_account_id
acc_3499                   0.005928   696     696          696       696
acc_7806                   0.005110   600     600          600       600
acc_9332                   0.005093   598     598          598       598
acc_8960                   0.004403   517     517          517       517
acc_8709                   0.004225   496     496          496       496
...                             ...   ...     ...          ...       ...
acc_7611                   0.000298    35      35           35        35
acc_5325                   0.000298    35      35           35        35
acc_7867                   0.000298    35      35           35        35
acc_5852                   0.000298    35      35           35        35
acc_3842                   0.000298    35      35           35        35

[1000 rows x 5 columns]

In [15]:
in_cat = list(Inflows["category"].value_counts().index)
inside = Inflows[["category", "memo"]].value_counts()
output_inflow = {}
for i in in_cat:
    output_inflow[i] = list(inside[i].head(15).index)

In [16]:
output_inflow

{'EXTERNAL_TRANSFER': ['EXTERNAL_TRANSFER'],
 'SELF_TRANSFER': ['SELF_TRANSFER'],
 'DEPOSIT': ['DEPOSIT'],
 'MISCELLANEOUS': ['MISCELLANEOUS'],
 'PAYCHECK': ['PAYCHECK'],
 'PAYCHECK_PLACEHOLDER': ['PAYCHECK_PLACEHOLDER'],
 'REFUND': ['REFUND'],
 'INVESTMENT_INCOME': ['INVESTMENT_INCOME'],
 'SMALL_DOLLAR_ADVANCE': ['SMALL_DOLLAR_ADVANCE'],
 'OTHER_BENEFITS': ['OTHER_BENEFITS'],
 'TAX': ['TAX'],
 'LOAN': ['LOAN'],
 'UNEMPLOYMENT_BENEFITS': ['UNEMPLOYMENT_BENEFITS'],
 'INSURANCE': ['INSURANCE']}

In [17]:
testing.describe()

             amount
count  3.110603e+06
mean   6.883868e-03
std    2.672358e+03
min   -6.548532e+05
25%   -5.086000e+01
50%   -1.681000e+01
75%   -3.000000e+00
max    1.154966e+06

In [18]:
dates = Cash_Flows["posted_date"]

In [19]:
dates.reset_index().loc[0]["posted_date"]

datetime.date(2022, 7, 5)

In [20]:
daily = Cash_Flows.set_index("prism_consumer_id").sort_values(by = "posted_date")
daily['posted_date'] = pd.to_datetime(daily['posted_date'])

In [21]:
daily.loc[1603]

,prism_account_id,memo,amount,posted_date,category
prism_consumer_id,,,,,
1603,acc_4440,ACCOUNT_FEES,-14.00,2017-12-29,ACCOUNT_FEES
1603,acc_4443,ACCOUNT_FEES,-10.00,2017-12-29,ACCOUNT_FEES
1603,acc_4444,PAYCHECK_PLACEHOLDER,6481.66,2017-12-29,PAYCHECK_PLACEHOLDER
1603,acc_4444,ACCOUNT_FEES,-2.50,2018-01-02,ACCOUNT_FEES
1603,acc_4444,ATM_CASH,-302.50,2018-01-02,ATM_CASH
...,...,...,...,...,...
1603,acc_4441,CREDIT_CARD_PAYMENT,-7029.40,2022-06-21,CREDIT_CARD_PAYMENT
1603,acc_4445,EXTERNAL_TRANSFER,-20000.00,2022-06-21,EXTERNAL_TRANSFER
1603,acc_4441,CREDIT_CARD_PAYMENT,-6343.92,2022-06-21,CREDIT_CARD_PAYMENT
1603,acc_4441,PAYPAL INST XFER XXXXXX MICROSOFT XBOX LIESCHE...,-19.99,2022-06-21,GENERAL_MERCHANDISE
1603,acc_4441,SELF_TRANSFER,20000.00,2022-06-21,SELF_TRANSFER

In [ ]:
net_cash = {}
for i in list(daily.index):
    net_cash[i] = daily.loc[i].groupby(pd.Grouper(key='posted_date', freq='MS'))['amount'].sum().reset_index(name='amount')

In [ ]:
net_cash