In [1]:
import pandas as pd

In [2]:
inflow = pd.read_parquet('/uss/hdsi-prismdata/q1-ucsd-inflows.pqt')
outflow = pd.read_parquet('/uss/hdsi-prismdata/q1-ucsd-outflows.pqt')

In [3]:
in_sample = inflow.head()
out_sample = outflow.head()

In [4]:
in_sample

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,PAYCHECK,2477.02,2022-03-18,PAYCHECK
1,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-10-25,EXTERNAL_TRANSFER
2,0,acc_0,MISCELLANEOUS,6.29,2022-08-26,MISCELLANEOUS
3,0,acc_0,EXTERNAL_TRANSFER,277.00,2022-06-03,EXTERNAL_TRANSFER
4,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-07-29,EXTERNAL_TRANSFER

In [5]:
out_sample

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,LOAN,900.60,2022-07-05,LOAN
1,0,acc_0,ATM_CASH,80.00,2022-03-25,ATM_CASH
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,18.42,2022-09-26,FOOD_AND_BEVERAGES
3,0,acc_0,LOAN,634.00,2023-01-10,LOAN
4,0,acc_0,Buffalo Wild Wings,26.47,2022-09-12,FOOD_AND_BEVERAGES

In [6]:
inflow.shape

(513115, 6)

In [7]:
inflow['category'].value_counts()

category
EXTERNAL_TRANSFER        156533
SELF_TRANSFER            110437
DEPOSIT                   61345
MISCELLANEOUS             55648
PAYCHECK                  33138
PAYCHECK_PLACEHOLDER      26087
REFUND                    23220
INVESTMENT_INCOME         17325
SMALL_DOLLAR_ADVANCE      13621
OTHER_BENEFITS             7708
TAX                        3405
LOAN                       2513
UNEMPLOYMENT_BENEFITS      1961
INSURANCE                   174
Name: count, dtype: int64

In [8]:
outflow['category'].value_counts()

category
GENERAL_MERCHANDISE    524063
FOOD_AND_BEVERAGES     481994
EXTERNAL_TRANSFER      320998
GROCERIES              219331
AUTOMOTIVE             208579
ATM_CASH               117651
UNCATEGORIZED          117409
LOAN                    90945
ENTERTAINMENT           80885
ESSENTIAL_SERVICES      77137
CREDIT_CARD_PAYMENT     75506
SELF_TRANSFER           73281
TRAVEL                  59647
HEALTHCARE_MEDICAL      40842
ACCOUNT_FEES            37511
INSURANCE               30244
PETS                     9266
HOME_IMPROVEMENT         8600
GIFTS_DONATIONS          4719
EDUCATION                4499
OVERDRAFT                3386
TAX                      3186
RENT                     3147
BNPL                     1543
MORTGAGE                 1119
PAYCHECK                 1040
CHILD_DEPENDENTS          936
BILLS_UTILITIES            23
AUTO_LOAN                   1
Name: count, dtype: int64

In [9]:
outflow['memo'].value_counts()

memo
EXTERNAL_TRANSFER                                                                    320998
AUTOMOTIVE                                                                           208579
ATM_CASH                                                                             117651
UNCATEGORIZED                                                                        117409
LOAN                                                                                  90945
                                                                                      ...
Par Gators Dockside -                                                                     1
Chilis Mandarin                                                                           1
Chilis Bay Meadows                                                                        1
Southside Liquor                                                                          1
POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS RD MESA AZ  Card 15 #XXXX  MCC XXXX         1
Name: count, Length: 528786, dtype: int64

In [10]:
outflow[outflow['category']=='GENERAL_MERCHANDISE']['memo'].value_counts()[:10]

memo
Amazon            31725
7-Eleven          11675
Circle K          10148
Dollar General     7872
Apple              7394
Home Depot         7213
Costco             4760
Google             4567
APPLE.COM/BILL     3270
Amazon Prime       3159
Name: count, dtype: int64

In [11]:
outflow.groupby(['category', 'memo']).count().sort_values(by='prism_account_id', ascending=False)[10:20]

                                      prism_consumer_id  prism_account_id  \
category            memo
ACCOUNT_FEES        ACCOUNT_FEES                  37511             37511
GENERAL_MERCHANDISE Amazon                        31725             31725
GROCERIES           Walmart                       31619             31619
INSURANCE           INSURANCE                     30244             30244
FOOD_AND_BEVERAGES  McDonald's                    22670             22670
                    Starbucks                     12777             12777
GENERAL_MERCHANDISE 7-Eleven                      11675             11675
                    Circle K                      10148             10148
HOME_IMPROVEMENT    HOME_IMPROVEMENT               8600              8600
GROCERIES           Kroger                         8423              8423

                                      amount  posted_date
category            memo
ACCOUNT_FEES        ACCOUNT_FEES       37511        37511
GENERAL_MERCHANDISE Amazon             31725        31725
GROCERIES           Walmart            31619        31619
INSURANCE           INSURANCE          30244        30244
FOOD_AND_BEVERAGES  McDonald's         22670        22670
                    Starbucks          12777        12777
GENERAL_MERCHANDISE 7-Eleven           11675        11675
                    Circle K           10148        10148
HOME_IMPROVEMENT    HOME_IMPROVEMENT    8600         8600
GROCERIES           Kroger              8423         8423

In [12]:
df = outflow.groupby(['category', 'memo']).count().sort_values(by='prism_account_id', ascending=False).reset_index().set_index('category')

In [13]:
#for_loop
df.loc['GROCERIES',['memo','prism_consumer_id']]

,memo,prism_consumer_id
category,,
GROCERIES,Walmart,31619
GROCERIES,Kroger,8423
GROCERIES,Target,8343
GROCERIES,Publix,7033
GROCERIES,Safeway,6071
...,...,...
GROCERIES,# WAL-MART #XXXX XXXXX US HWY 19 NORTH CLEARWA...,1
GROCERIES,# WAL-MART #XXXX XXXXX US HWY 19 N TARPON SPRI...,1
GROCERIES,# WAL-MART #XXXX XXXX WATERS AVE WEST TAMPA FL,1
GROCERIES,# NNT HABANA SUPERMAR XXXX W. HILLSBOROUGH AV ...,1
GROCERIES,# MAYO FOOD STORE TAMPA FL,1

## Start of train test split scratch work

In [14]:
outflow['prism_consumer_id'].value_counts()

prism_consumer_id
5892    5470
4215    5041
5838    4822
5388    4781
4756    4460
        ...
1647       3
5062       2
4835       2
5943       1
5457       1
Name: count, Length: 2968, dtype: int64

In [15]:
0.7*2968

2077.6

In [16]:
outflow.groupby("prism_consumer_id").apply(lambda x: x)

/tmp/ipykernel_1301/1889637490.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  outflow.groupby("prism_consumer_id").apply(lambda x: x)

                           prism_consumer_id prism_account_id  \
prism_consumer_id
0                 0                        0            acc_0
                  1                        0            acc_0
                  2                        0            acc_0
                  3                        0            acc_0
                  4                        0            acc_0
...                                      ...              ...
5941              2597484               5941         acc_9524
                  2597485               5941         acc_9524
                  2597486               5941         acc_9524
                  2597487               5941         acc_9524
5943              2467072               5943         acc_9526

                                                                memo  amount  \
prism_consumer_id
0                 0                                             LOAN  900.60
                  1                                         ATM_CASH   80.00
                  2        TST* Casa Del Rio - Exp Fairlawn OH 09/24   18.42
                  3                                             LOAN  634.00
                  4                               Buffalo Wild Wings   26.47
...                                                              ...     ...
5941              2597484                                   ATM_CASH    2.06
                  2597485                                   ATM_CASH  262.88
                  2597486                                   ATM_CASH   10.00
                  2597487                              UNCATEGORIZED   35.13
5943              2467072                CIRCLE K # XXXXX, MACON, GA    0.98

                          posted_date             category
prism_consumer_id
0                 0        2022-07-05                 LOAN
                  1        2022-03-25             ATM_CASH
                  2        2022-09-26   FOOD_AND_BEVERAGES
                  3        2023-01-10                 LOAN
                  4        2022-09-12   FOOD_AND_BEVERAGES
...                               ...                  ...
5941              2597484  2023-01-25             ATM_CASH
                  2597485  2023-01-25             ATM_CASH
                  2597486  2023-01-25             ATM_CASH
                  2597487  2023-01-25        UNCATEGORIZED
5943              2467072  2022-10-06  GENERAL_MERCHANDISE

[2597488 rows x 6 columns]

In [17]:
a=outflow["prism_consumer_id"].unique()

In [18]:
b=inflow["prism_consumer_id"].unique()

In [19]:
# all(a==b)

In [20]:
from sklearn.model_selection import train_test_split
ids = outflow['prism_consumer_id'].unique()
df_A = outflow
df_B = inflow
train_ids, test_ids = train_test_split(ids, test_size=0.25)
train_A = df_A[df_A['prism_consumer_id'].isin(train_ids)]
test_A  = df_A[df_A['prism_consumer_id'].isin(test_ids)]
train_B = df_B[df_B['prism_consumer_id'].isin(train_ids)]
test_B  = df_B[df_B['prism_consumer_id'].isin(test_ids)]

In [21]:
len(train_A['prism_consumer_id'].unique())

2226

In [22]:
len(train_B['prism_consumer_id'].unique())

2225

In [23]:
len(train_ids)

2226

In [25]:
for i in train_A['prism_consumer_id'].unique():
    if i not in train_B['prism_consumer_id'].unique():
        print(i)

5943

In [27]:
inflow[inflow['prism_consumer_id']==5943]

Empty DataFrame
Columns: [prism_consumer_id, prism_account_id, memo, amount, posted_date, category]
Index: []

In [28]:
outflow[outflow['prism_consumer_id']==5943]

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
2467072,5943,acc_9526,"CIRCLE K # XXXXX, MACON, GA",0.98,2022-10-06,GENERAL_MERCHANDISE

In [8]:
a= outflow["prism_consumer_id"].unique()

In [9]:
b =inflow["prism_consumer_id"].unique()

In [10]:
all(a==b)

ValueError: operands could not be broadcast together with shapes (2968,) (2974,)